<template>
  <div>
    <div class="row">
      <div class="col-md">
        <div class="row p-1">
          <div class="col-md-12">
            <span
              style="top: -19px; right: 10px;"
              class="float-right position-absolute"
              v-if="log.type == 'note'"
            >
              <div v-if="log.user_id == $store.getters.getUserInfo.id">
                <button
                  style="border-radius: 0px 0px 25px 25px;"
                  v-show="!statusEdit"
                  @click="beforeEditNote"
                  class="btn mr-2 text-light bg-gray-500"
                >
                  <i style="padding:0px; padding-left: 3px;" class="fas fa-edit"></i>
                </button>
                <button
                  style="border-radius: 0px 0px 25px 25px;"
                  v-show="!statusEdit"
                  @click="beforeDeleteNote"
                  class="btn btn-error"
                >
                  <i style="padding-left:-10px; " class="fas fa-times-circle p-0"></i>
                </button>
              </div>
            </span>
            <label class="text-muted w-100">
              <strong>{{log.name}}:</strong>
              <br>
              {{log.date}} hrs.
            </label>
            <p>
              <strong class="text-muted" v-if="log.type == 'note'">Nota:</strong>
              <strong class="text-muted" v-else>Log:</strong>
              {{log.comments}}
            </p>
            <div v-if="log.type == 'note'">
              <button
                v-if="extensions.includes(log.extension) && log.file != '/storage/nodisponible.png'"
                class="btn btn-dark btn-sm float-left btn-sm mt-2"
                @click="showImg(`${$store.state.services.apiUrl}${log.file}`)"
              >Ver Imagen</button>
              <button
                v-else-if="!extensions.includes(log.extension)"
                class="btn btn-dark btn-sm float-left btn-sm mt-2"
                @click="showFile(`${$store.state.services.apiUrl}${log.file}`)"
              >Ver Archivo</button>
              <div class="float-right text-gray"></div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["log"],
  // Logs: no se edita ni se elimina
  name: "LogNote",
  data() {
    return {
      statusEdit: false,
      extensions: ["png", "jpg", "jpeg"]
    };
  },
  created() {},
  methods: {
    showFile(url) {
      window.open(url, "_blank");
    },
    showImg(imgUrl) {
      let self = this;
      swal({
        imageUrl: imgUrl,
        imageAlt: "Custom image"
      });
    },
    beforeEditNote() {
      let self = this;
      const { value: text } = Swal({
        html: "<strong>Editar Nota</strong>",
        input: "textarea",
        inputPlaceholder: "Escribe tu comentario...",
        showCancelButton: true,
        confirmButtonText: "Guardar",
        cancelButtonText: "Cancelar",
        inputValue: self.log.comments,
        inputValidator: value => {
          return !value && "No puedes dejar el campo vacío";
        }
      }).then(result => {
        if (result.value) {
          self.log.comments = result.value;
          swal({
            title: "¡Guardando!",
            onOpen: () => {
              swal.showLoading();
            }
          });
          self.saveNote();
        }
      });
    },
    saveNote() {
      let self = this;
      self.$store.state.services.noteService
        .Edit(self.log.id, { comments: self.log.comments })
        .then(r => {
          self.statusEdit = false;
          Swal("¡Listo!", "Nota guardada correctamente", "success");
        })
        .catch(error => {
          console.log(error);
          Swal({
            type: "error",
            title: "Oops...",
            text: "Esta acción no pudo completarce intentalo mas tarde!"
          });
        });
    },
    beforeDeleteNote() {
      let self = this;
      Swal({
        title: "¿Deseas borrar esta nota?",
        text: "¡Esta acción no puere revertirce!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        cancelButtonText: "Cancelar",
        confirmButtonText: "¡Si, Borrar!"
      }).then(result => {
        if (result.value) {
          swal({
            title: "¡Eliminando!",
            onOpen: () => {
              swal.showLoading();
            }
          });
          self.deleteNote();
        }
      });
    },
    deleteNote() {
      let self = this;
      self.$store.state.services.noteService
        .Delete(self.log.id)
        .then(r => {
          Swal("¡Listo!", "Nota eliminada", "success");
          self.$bus.$emit("getLogsNotes");
        })
        .catch(error => {
          console.log(error);
          Swal({
            type: "error",
            title: "Oops...",
            text: "Esta acción no pudo completarce intentalo mas tarde!"
          });
        });
    }
  }
};
</script>

<style scoped>
.line {
  border-bottom: 1px solid black;
}
</style>
