<template>
  <div class="row">
    <div class="col-md">
      <div class="bg-light p-1 text-center navigate">
        <button
          :disabled="categoryIndex == 0"
          class="btn bg-transparent btn-lg"
          @click="goToCategory(-1)"
          style="margin-right: 3.5em; width: 100px"
        >
          <i class="fas fa-angle-left fa-lg"></i>
        </button>
        <button
          :disabled="categoryIndex == categoriesLength"
          class="btn bg-transparent btn-lg"
          @click="goToCategory(1)"
          style="margin-left: 3.5em; width: 100px"
        >
          <i class="fas fa-angle-right fa-lg"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Navigation",
  props: {
    categoryIndex: Number,
    categoriesLength: Number
  },
  methods: {
    goToCategory(n) {
      this.$parent.$emit("goToCategory", n);
    }
  }
};
</script>

<style scoped>
</style>
