<template>
  <div class="row p-4">
    <div class="col-md-6 mx-auto p-4">
      <div class="row mt-5">
        <div
          class="bg-light shadow p-2 rounded mx-auto mb-5"
          style="max-width: 500px; width: 500px;"
          v-for="(question, index) in questions"
          :key="index"
        >
          <div class="col-md-12">
            <Question :question="question"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Question from "@/components/Checklist/Question.vue";
export default {
  name: "QuestionList",
  props: {
    questions: Array
  },
  components: {
    Question
  }
};
</script>

<style scoped>
.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24) !important;
}
</style>
