<template>
  <div>
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <div class="cursor-pointer p-1">
          <button
            :disabled="!question.siAnswer && !question.noAnswer && !question.naAnswer"
            @click="openComment"
            class="btn position-absolute bg-gray-300 p-2"
            style="width: 40px;top: -32px;right: 0px;height: 40px;border-radius: 0px 0px 25px 25px;"
          >
            <i class="fas fa-comments cursor-pointer"></i>
            <span
              v-if="question.comments != null"
              style="top: -8px; width: 18px;"
              class="badge badge-light rounded-circle bg-danger text-light position-absolute cursor-pointer"
            >1</span>
          </button>
        </div>
      </div>
      <div class="col-md-12 text-center border-bottom text-gray-600 p-0 pt-2 pb-3 p-2">
        <strong>{{question.question}}</strong>
      </div>
    </div>
    <div class="row pb-2">
      <div
        class="col-4 text-center mt-2 p-0 p-1"
        v-for="(answer, index) in question.answers"
        v-if="answer.answer != 'n/r'"
        :key="index"
      >
        <button
          v-if="answer.answer != 'no'"
          style="height:50px"
          :class="[`btn btn-block btn-default p-2 text-uppercase`,
            {'text-green': answer.answer == 'si'},
            {'text-gray-700': answer.answer == 'n/a'},
            {'btn-green text-light': question.siAnswer && answer.answer == 'si'},
            {'btn-dark text-light': question.naAnswer && answer.answer == 'n/a'}]"
          @click="setAnswer(answer.answer, answer.id)"
        >
          <strong>
            {{answer.answer}}
            <i class="fas fa-check-circle" v-if="answer.answer == 'si'"></i>
            <i class="fas fa-times-circle" v-if="answer.answer == 'no'"></i>
          </strong>
        </button>
        <button
          :id="answer.id"
          v-if="answer.answer == 'no'"
          style="height:50px"
          :class="[`btn btn-block btn-default p-2 text-uppercase`,
            {'text-danger': answer.answer == 'no'},
            {'btn-danger text-light': question.noAnswer && answer.answer == 'no'}]"
          @click="fileInput"
        >
          <strong>
            {{answer.answer}}
            <i class="fas fa-times-circle" v-if="answer.answer == 'no'"></i>
          </strong>
        </button>
        <image-uploader
          ref="fileInput"
          v-show="false"
          :debug="1"
          v-if="answer.answer == 'no'"
          :preview="false"
          capture="environment"
          :autoRotate="true"
          outputFormat="verbose"
          :maxWidth="512"
          :quality="0.3"
          accept="image/x-png, image/gif, image/jpeg"
          @input="setImage"
        ></image-uploader>
      </div>
      <div
        class="col-md-12 p-1"
        v-if="question.noAnswer && question.requiredPhoto && question.file != null"
      >
        <div class="bg-danger text-light p-1 rounded">
          <button
            href="#"
            class="text-light pl-2 bg-transparent btn btn-sm"
            style="font-size: 0.9em;"
            @click="showImg"
          >
            <strong>
              <u>VER IMAGEN</u>
            </strong>
          </button>
          <button
            href="#"
            class="text-light pl-2 pr-2 border-left float-right btn bg-transparent btn-sm rounded-0"
            @click="removeImg"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="col-md-12 p-1" v-if="question.noAnswer && question.required_corrected">
        <div class="row text-dark p-3 pr-0">
          <button
            class="col-8 pl-0 btn bg-transparent text-gray-700"
            disabled
            style="font-size: 0.9em;"
          >
            <strong>¿Se resolvió al momento?</strong>
          </button>
          <div class="col-2">
            <button
              @click="setAnswer('lastSi')"
              href="#"
              :class="[`btn btn-sm btn-default`, {'btn-green text-light': question.lastSi}]"
            >
              <i class="fas fa-check p-1"></i>
            </button>
          </div>
          <div class="col-2">
            <button
              @click="setAnswer('lastNo')"
              href="#"
              :class="[`btn btn-sm btn-default`, {'btn-danger text-light': question.lastNo}]"
            >
              <i class="fas fa-times p-1"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Question",
  props: {
    question: Object
  },
  methods: {
    saveData() {
      let self = this;
      let dataRequest = {
        user_id: self.$store.getters.getUserInfo.id,
        question_id: self.question.id,
        image: null,
        answer_id: self.question.answer_id,
        branch_id: parseInt(self.$store.getters.getUserInfo.branchSelected.id),
        solved: self.question.solved,
        comments: self.question.comments,
        siAnswer: self.question.siAnswer,
        noAnswer: self.question.noAnswer,
        naAnswer: self.question.naAnswer,
        lastNo: self.question.lastNo,
        lastSi: self.question.lastSi
      };

      if (self.question.file) dataRequest.image = self.question.file.dataUrl;

      console.log(dataRequest);
      this.$parent.$parent.$emit("saveData", dataRequest);
    },
    openComment() {
      let self = this;
      const { value: text } = Swal({
        html: `<strong>${self.question.question}</strong>`,
        input: "textarea",
        inputPlaceholder: "Escribe tu comentario...",
        showCancelButton: true,
        confirmButtonColor:
          self.$store.getters.getUserInfo.branchSelected.color_primary,
        confirmButtonText: "Guardar",
        inputValue: self.question.comments,
        inputValidator: value => {
          return !value && "No puedes dejar el campo vacío";
        }
      }).then(result => {
        if (result.value) {
          self.question.comments = result.value;
          swal({
            title: "¡Guardando!",
            timer: 1000,
            onOpen: () => {
              swal.showLoading();
              self.saveData();
            }
          });
        }
      });
    },
    removeImg() {
      this.question.file = null;
      this.question.noAnswer = false;
      this.question.lastNo = false;
      this.question.lastSi = false;
      this.question.solved = null;
      this.question.comments = null;
      this.saveData();
    },
    showImg() {
      let self = this;
      Swal.fire({
        imageUrl: self.question.file.dataUrl,
        animation: true
      });
    },
    fileInput() {
      if (this.question.requiredPhoto) {
        this.$refs.fileInput[0].$el.childNodes[1].value = "";
        this.$refs.fileInput[0].$el.childNodes[1].click();
      } else this.setAnswer("no", this.question.answers[1].id);
    },
    setImage(file) {
      swal({
        title: "¡Guardando!",
        timer: 2000,
        onOpen: () => {
          swal.showLoading();
        }
      });
      this.question.file = file;
      this.setAnswer("no", this.question.answers[1].id);
    },
    setAnswer(answer, answer_id) {
      this.question.answer_id = answer_id;

      switch (answer) {
        case "si":
          this.question.siAnswer = true;
          this.question.noAnswer = false;
          this.question.naAnswer = false;
          this.question.file = null;
          this.question.solved = null;
          break;
        case "no":
          this.question.siAnswer = false;
          this.question.noAnswer = true;
          this.question.naAnswer = false;
          this.question.lastSi = false;
          this.question.lastNo = true;
          if (this.question.required_corrected) this.question.solved = false;
          break;
        case "n/a":
          this.question.siAnswer = false;
          this.question.noAnswer = false;
          this.question.naAnswer = true;
          this.question.file = null;
          this.question.solved = null;
          break;
        case "lastSi":
          this.question.lastSi = true;
          this.question.lastNo = false;
          this.question.solved = true;
          this.question.answer_id = this.question.answers[1].id;
          break;
        case "lastNo":
          this.question.lastNo = true;
          this.question.lastSi = false;
          this.question.solved = false;
          this.question.answer_id = this.question.answers[1].id;
          break;

        default:
          break;
      }

      this.saveData();
    }
  }
};
</script>

<style scoped>
.shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24) !important;
}

.btn-dark {
  background-color: #1e272e !important;
}

.btn-green {
  background-color: #029852 !important;
}

.text-green {
  color: #029852 !important;
}

.btn-danger {
  background-color: #cf3322 !important;
}

.text-light {
  color: aliceblue !important;
}
</style>
