<template>
  <div class="row">
    <div class="col-md-6 mx-auto p-0" style="max-width: 400px">
      <div class="input-group mb-3">
        <input
          type="text"
          v-model="search"
          @blur="cleanSearchedBranches"
          class="form-control"
          placeholder="Buscar sucursal..."
          :disabled="branchSetted"
        >
        <div class="input-group-append">
          <button
            v-if="branchSetted"
            @click="cleanSearch"
            class="btn bg-transparent btnIn border-left pl-3"
            type="button"
            id="button-addon2"
          >
            <i class="fas fa-times"></i>
          </button>
          <button v-else class="btn bg-transparent btnIn" disabled type="button" id="button-addon2">
            <i class="fas fa-sync fa-spin" v-if="isLoading"></i>
            <i class="fas fa-search" v-else></i>
          </button>
        </div>
      </div>
      <div class="row" v-if="branchSetted">
        <div class="col-md">
          <button @click="goToChecklist" class="btn btn-dark p-3 btn-block">INICIAR CHECKLIST AQUÍ</button>
        </div>
      </div>
      <br>
      <div class="row p-3" v-if="filteredBranches.length > 0 && !branchSetted && search != ''">
        <div
          class="col-md-12 pb-2 bg-light shadow-sm position-absolute resultPanel"
          style="padding-bottom: 0 !important;"
        >
          <div v-for="(branch, index) in filteredBranches" :key="index">
            <button
              :id="index"
              class="btn mt-2 p-2 mb-2 btn-light text-left text-gray-600 w-100 rounded-0 btn-block border-bottom"
              @click="setBranch(branch)"
            >{{branch.branch}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SearchBranch",
  props: {
    branches: Array
  },
  data() {
    return {
      searchedBranches: [],
      branchSetted: false,
      search: "",
      isLoading: false
    };
  },
  computed: {
    filteredBranches() {
      return this.branches.filter(branch => {
        return branch.branch.toLowerCase().includes(this.search.toLowerCase());
      });
    }
  },
  methods: {
    cleanSearchedBranches() {
      // setTimeout(() => {
      //   if (this.branchSetted == false) this.search = "";
      // }, 500);
    },
    cleanSearch() {
      this.branchSetted = false;
      this.search = "";
      this.searchedBranches = [];
      this.$store.getters.getUserInfo.branchSelected = false;

      this.$store.dispatch("SetUserInfo", this.$store.getters.getUserInfo);
      this.$offlineStorage.set("userInfo", this.$store.getters.getUserInfo);
    },
    setBranch(branch) {
      this.branchSetted = true;
      $("body").scrollTop(0);
      console.log("setBranch");

      this.search = branch.branch;

      this.$store.getters.getUserInfo.branchSelected = branch;
      this.$store.dispatch("SetUserInfo", this.$store.getters.getUserInfo);

      this.searchedBranches = [];
    },
    goToChecklist() {
      console.log("goToChecklist");

      this.$offlineStorage.set("userInfo", this.$store.getters.getUserInfo);
      let self = this;
      this.$parent.$emit(
        "goToChecklist",
        self.$store.getters.getUserInfo.branchSelected
      );
    }
  }
};
</script>

<style scoped>
.form-control {
  padding: 20px;
  border-radius: 3px !important;
}

.btnIn {
  position: absolute;
  z-index: 4 !important;
  right: 6px;
  top: 2px;
}
.resultPanel {
  z-index: 1;
  top: 45px;
  height: fit-content;
  max-width: 524px;
  overflow: auto;
}

.resultPanel::-webkit-scrollbar {
  width: 0.7em;
}

.resultPanel::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.resultPanel::-webkit-scrollbar-thumb {
  background-color: rgb(121, 120, 120);
  outline: 1px solid slategrey;
}
</style>
