<template>
  <nav aria-label="...">
    <ul class="pagination float-right">
      <li class="page-item" v-for="(page, index) in meta.last_page" :key="index">
        <a
          :class="['page-link', { 'bg-dark text-light': page == meta.current_page }]"
          href="#"
          @click="goToPage(page, $event)"
        >{{page}}</a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: "Pagination",
  props: {
    meta: {
      type: Object,
      default: {
        last_page: 10,
        current_page: 1
      }
    }
  },
  methods: {
    goToPage(page, event) {
      event.preventDefault();
      this.$bus.$emit("goToPage", page);
    }
  }
};
</script>

<style scoped>
</style>
