// Import custom font from Google
@import url('https://fonts.googleapis.com/css?family=Poppins');

// Colors
$white: #fff;
$black: #000;
$green: #26AE62 !important;
$blue: #2A80B9;
$orange: #f26c22;
$yellow: #ffd925;
$red: #E84C3C;

// bulma colors
$turquoise :hsl(171, 100%, 41%);
$blue :hsl(217, 71%, 53%);
$cyan :hsl(204, 86%, 53%);
$green :hsl(141, 71%, 48%);
$yellow :hsl(48, 100%, 67%);
$red :hsl(348, 100%, 61%);


// Create grayscale
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$theme-colors: ("orange": #E77E22,
"error": #bb5349,
"info": #60a3bc,
"danger": #cf3322,
"cherry": #DC3D53,
"darker": #171717,
"gold": #FFA611,
"green": #2ecc71,
"bulma": $turquoise,
"default": #f1f1f1,
"gray-100": $gray-100,
"gray-200": $gray-200,
"gray-300": $gray-300,
"gray-400": $gray-400,
"gray-500": $gray-500,
"gray-600": $gray-600,
"gray-700": $gray-700,
"gray-800": $gray-800,
"gray-900": $gray-900,
);



// Set brand colors
// $primary: $blue;
//$success: $green;
// $info: $yellow;
// $warning: $orange;
// $danger: $red;