<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link rel="shortcut icon" type="image/png" href="<%= BASE_URL %>favicon.png">
  <link href="<%= BASE_URL %>icons/checklist-48x48.png" rel="apple-touch-icon" sizes="48x48" />
  <link href="<%= BASE_URL %>icons/checklist-57x57.png" rel="apple-touch-icon" sizes="57x57" />
  <link href="<%= BASE_URL %>icons/checklist-60x60.png" rel="apple-touch-icon" sizes="60x60" />
  <link href="<%= BASE_URL %>icons/checklist-72x72.png" rel="apple-touch-icon" sizes="72x72" />
  <link href="<%= BASE_URL %>icons/checklist-76x76.png" rel="apple-touch-icon" sizes="76x76" />
  <link href="<%= BASE_URL %>icons/checklist-96x96.png" rel="apple-touch-icon" sizes="96x96" />
  <link href="<%= BASE_URL %>icons/checklist-114x114.png" rel="apple-touch-icon" sizes="114x114" />
  <link href="<%= BASE_URL %>icons/checklist-120x120.png" rel="apple-touch-icon" sizes="120x120" />
  <link href="<%= BASE_URL %>icons/checklist-144x144.png" rel="apple-touch-icon" sizes="144x144" />
  <link href="<%= BASE_URL %>icons/checklist-152x152.png" rel="apple-touch-icon" sizes="152x152" />
  <link href="<%= BASE_URL %>icons/checklist-180x180.png" rel="apple-touch-icon" sizes="180x180" />
  <link href="<%= BASE_URL %>icons/checklist-192x192.png" rel="apple-touch-icon" sizes="192x192" />
  <link href="<%= BASE_URL %>icons/checklist-256x256.png" rel="apple-touch-icon" sizes="256x256" />
  <link href="<%= BASE_URL %>icons/checklist-384x384.png" rel="apple-touch-icon" sizes="384x384" />
  <link href="<%= BASE_URL %>icons/checklist-512x512.png" rel="apple-touch-icon" sizes="512x512" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">

  <title>Checklist</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but admin doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.2/dist/sweetalert2.all.min.js"></script>
  <script>
    // prevent zoom on safary
    document.addEventListener('touchmove', function (event) {
      event = event.originalEvent || event;
      if (event.scale > 1) {
        event.preventDefault();
      }
    }, false);
  </script>
</body>

</html>