<template>
  <div>
    <nav class="navbar shadow-sm bg-white text-dark position-fixed w-100">
      <a class="navbar-brand">
        <div id="menuToggle">
          <input id="check" type="checkbox">
          <span class="bg-cherry"></span>
          <span class="bg-cherry"></span>
          <span class="bg-cherry"></span>
          <ul id="menu">
            <router-link
              tag="li"
              to="/"
              exact
              v-if="hasRole('operadores') || hasRole('admin') || hasRole('director') || hasRole('supervisor')"
            >
              <a>Tickets</a>
            </router-link>
            <router-link tag="li" to="/metas" v-if="hasRole('supervisor')">
              <a>Metas</a>
            </router-link>
            <router-link
              tag="li"
              to="/branches"
              v-if="hasRole('tienda') || hasRole('supervisor') || hasRole('director')"
            >
              <a>CheckList</a>
            </router-link>
            <li
              v-if="$route.name == 'checklist' && (hasRole('tienda') || hasRole('supervisor') || hasRole('director')) && $store.getters.getUserInfo.answereds != false"
            >
              <a href="#" class="text-danger" @click="cancelChecklist">Cancelar CheckList</a>
            </li>

            <router-link tag="li" to="/scores" v-if="!hasRole('tienda') && !hasRole('operadores')">
              <a>Scores</a>
            </router-link>

            <div
              class="dropdown-divider ml-2 mr-3"
              style="border-top: 1px solid #717171 !important;"
            ></div>
            <li>
              <a href="#" @click="LogOut">
                Cerrar Sesion
                <i class="fas fa-sign-out-alt"></i>
              </a>
            </li>
            <li>
              <a href="#" class="text-muted position-absolute" style="bottom: 117px">V2.0</a>
            </li>
          </ul>
        </div>
        <span class="brandTitle">
          <img
            :src="require(`../../assets/${$route.path != '/checklist'? clientImg : $store.getters.getUserInfo.branchSelected.image }`)"
            width="100"
            alt
          >
        </span>
      </a>

      <!-- <div class="float-right text-light">Role: {{$store.getters.getUserInfo.role}}</div> -->
      <div v-if="isOffline" class="float-right text-gray-600">Status: {{networkStatus}}</div>
      <div
        class="btn-toolbar d-flex justify-content-end"
        role="toolbar"
        aria-label="Toolbar with button groups"
      >
        <button
          v-if="$route.name == 'checklist' && $route.params.from != null"
          @click="$router.push({name:'metas'})"
          class="btn font-weight-bold text-gray-700 btn-sm my-2 my-sm-0 mr-2"
        >
          <i class="far fa-arrow-alt-circle-left mr-1 fa-lg"></i> METAS
        </button>
        <button
          v-if="$route.name == 'checklist' && $store.getters.getUserInfo.answereds != false"
          @click="finishChecklist"
          class="btn font-weight-bold btn-sm my-2 my-sm-0 text-light"
          v-bind:style="[{'background-color':$store.getters.getUserInfo.branchSelected.color_primary} ]"
        >FINALIZAR</button>
        <button
          v-if="$route.name == 'checklist' && $store.getters.getUserInfo.answereds == false && !hasRole('tienda')"
          @click="backToBranches"
          class="btn btn-dark font-weight-bold btn-sm my-2 my-sm-0 float-rigth"
        >
          <i class="far fa-arrow-alt-circle-left mr-1 fa-lg"></i> SUCURSALES
        </button>
      </div>
    </nav>
    <div id="bg" class="bg"></div>
  </div>
</template>

<script>
export default {
  name: "Navbar",
  data() {
    return {
      img: null
    };
  },
  mounted() {
    $(document).ready(function() {
      $("#bg").click(function() {
        $("#check").prop("checked", false);
        $("#bg").hide();
        $("html, body").css({
          overflow: "auto",
          height: "100%"
        });
      });

      $("#check").click(function() {
        if ($("#check").is(":checked")) {
          $("html, body").css({
            overflow: "hidden",
            height: "100%"
          });
          $("#bg").show();
        } else {
          $("html, body").css({
            overflow: "auto",
            height: "100%"
          });
          $("#bg").hide();
        }
      });
    });
  },
  computed: {
    networkStatus() {
      return this.isOnline ? "Online" : "Sin Internet";
    }
  },
  methods: {
    LogOut() {
      this.$showLoading(true);
      this.$store.state.services.authService.destroyToken();
      localStorage.removeItem("userInfo");
      this.$router.push({ name: "login" });
    },
    backToBranches() {
      this.$store.getters.getUserInfo.branchSelected = false;
      this.$store.dispatch("SetUserInfo", this.$store.getters.getUserInfo);
      this.$offlineStorage.set("userInfo", this.$store.getters.getUserInfo);
      this.$router.push({ name: "branches" });
    },
    finishChecklist() {
      this.$bus.$emit("finishChecklist");
    },
    cancelChecklist() {
      if (this.$store.getters.getUserInfo.answereds != false)
        this.$bus.$emit("cancelChecklist");
      else this.$router.go(-1);
    }
  }
};
</script>

<style scoped>
.bg {
  display: none;
  position: absolute;
  background-color: rgba(10, 10, 10, 0.86);
  height: 100%;
  width: 100%;
  z-index: 5;
}

.navbar {
  z-index: 9;
}

#menuToggle {
  display: block;
  position: absolute;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.router-link-active {
  border-left: 4px solid #dc3d53;
}

#menu li a {
  padding-left: 16px;
  font-size: 22px;
  display: block;
}

.brandTitle {
  margin-left: 65px;
}

#menuToggle input {
  display: block;
  width: 45px;
  height: 32px;
  position: absolute;
  top: 0px;
  left: 4px;
  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-top: 5px;
  position: relative;
  left: 10px;

  background: #ececec;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.55s ease, background 0.55s ease, opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ececec;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  z-index: 9;
  position: absolute;
  width: 300px;
  height: 100%;
  top: 80px;
  margin: -100px 0 0 -50px;
  padding-left: -30px;
  background: #343a40;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 5px 5px;
  font-size: 22px;
}

#menu a {
  color: #ababab;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

#menu {
  padding-top: 12px;
  cursor: auto;
  background-color: #4e4e4e;
  height: 113vh;
}
</style>
