<template>
  <div class="p-3 text-center">
    <h5 class="text-gray-700">
      <strong>INICIAR NUEVO CHECKLIST</strong>
    </h5>
    <br>

    <SeachBranch
      :branches="branches"
      v-if="hasRole('director') || hasRole('admin') || hasRole('supervisor')"
    />
    <div v-if="hasRole('director') || hasRole('admin')">
      <button @click="closeBranches = true" :class="['btn btn-sm mr-2', {'btn-dark':closeBranches}]">
        Cerca
        <i class="fas fa-map-marker-alt"></i>
      </button>
      <button
        @click="closeBranches = false"
        :class="['btn btn-sm', {'btn-dark':!closeBranches}]"
      >
        Todas
        <i class="fas fa-store-alt"></i>
      </button>
      <hr>
    </div>
    <div>
      <h5 class="text-gray-700">
        <strong>SUCURSALES</strong>
      </h5>
    </div>
    <div class="row mt-3" v-for="(branch, index) in getBranches" :key="index" transition="branch">
      <div
        class="bg-light shadow-sm p-3 rounded mx-auto"
        title="Sucursal Cerca"
        style="max-width: 400px"
      >
        <div class="col-md-12">
          <span v-if="branch.isClose" class="position-absolute text-gray-500" style="right: 10px">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          <div class="row">
            <div class="col-md-12 text-center">
              <img :src="require(`../assets/${branch.image}`)" width="200" alt>
            </div>
            <h6 class="col-md-12 text-center text-uppercase">{{branch.branch}}</h6>
            <div class="col-md-12 text-center mt-2">
              <button class="btn btn-dark btn-block p-3" @click="goToChecklist(branch)">
                <span>INICIAR</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
  </div>
</template>

<script>
import SeachBranch from "@/components/Checklist/SearchBranch.vue";
export default {
  name: "Branches",
  components: {
    SeachBranch
  },
  data() {
    return {
      branches: [],
      search: "",
      searchedBranches: [],
      coordinates: { lat: 0, long: 0 },
      showCloseBranches: false,
      closeBranches: true
    };
  },
  created() {
    //this.$showLoading(true);
  },
  mounted() {
    let self = this;
    this.getAllBranches();

    this.$on("goToChecklist", branch => {
      this.goToChecklist(branch);
    });
  },
  computed: {
    networkStatus() {
      return this.isOnline ? true : false;
    },
    getBranches() {
      return this.branches.filter(branch => {
        return branch.isClose == this.closeBranches ? true : branch.isClose;
      });
    }
  },
  methods: {
    getAllBranches() {
      let self = this;
      //console.log("getAllBranches");

      self.$store.state.services.checklistService
        .getBranches()
        .then(r => {
          self.branches = r.data;

          if (self.$store.getters.getUserInfo.branchSelected) {
            self.$showLoading(false);
            self.goToChecklist(this.$store.getters.getUserInfo.branchSelected);
          }
          self.$offlineStorage.set("branches", self.branches);
          self.watchLocation();

          if (self.$route.params.branch_id != null) {
            let branch = self.branches.find(branch => {
              return branch.id == self.$route.params.branch_id;
            });
            self.goToChecklist(branch);
            self.$showLoading(false);
          } else {
            this.checkUserInfo();
          }
        })
        .catch(error => {
          console.log("error");

          self.$showLoading(false);
          console.log(error);
        });
    },
    watchLocation() {
      let self = this;
      self.$showLoading(false);
      self
        .$watchLocation({
          enableHighAccuracy: false,
          timeout: Infinity,
          maximumAge: Infinity
        })
        .then(coordinates => {
          //console.log(coordinates);
          self.coordinates = coordinates;
          self.getCloserBranches(self.coordinates.lat, self.coordinates.lng);
        });
    },
    goToChecklist(branch) {
      this.$store.getters.getUserInfo.branchSelected = branch;
      this.$store.dispatch("SetUserInfo", this.$store.getters.getUserInfo);
      this.$offlineStorage.set("userInfo", this.$store.getters.getUserInfo);

      if (
        this.$store.getters.getUserInfo.branchSelected == false &&
        this.$store.getters.getUserInfo.answereds == false
      )
        self.resetStorageData();

      if (this.$route.params.category_id != null) {
        this.$router.push({
          name: "checklist",
          params: { category_id: this.$route.params.category_id, from: "Metas" }
        });
      } else this.$router.push({ name: "checklist" });
    },
    checkUserInfo() {
      let self = this;
      self.$store.state.services.userService
        .getUser()
        .then(response => {
          self.$store.getters.getUserInfo.branchSelected =
            response.data.branchSelected;
          self.$store.getters.getUserInfo.answereds = response.data.answereds;

          self.$store.dispatch("SetUserInfo", self.$store.getters.getUserInfo);
          self.$offlineStorage.set("userInfo", self.$store.getters.getUserInfo);

          if (self.$store.getters.getUserInfo.branchSelected == false)
            self.resetStorageData();
          else this.$router.push({ name: "checklist" });
        })
        .catch(error => {
          console.log(error);
        });
    },
    filterColseBranches() {},
    getCloserBranches(latitude, longitude) {
      //console.log("getCloserBranches");

      let self = this;
      if (this.branches.length > 0) {
        self.branches.forEach(branch => {
          branch.isClose = false;
        });

        for (var i = 0; i < self.branches.length; i++) {
          let distance = self.getDistanceFromLatLonInKm(
            latitude,
            longitude,
            self.branches[i].latitude,
            self.branches[i].longitude
          );

          if (distance <= 40) {
            let data = {
              distance: distance,
              branch: self.branches[i]
            };

            self.branches.find(branch => {
              if (branch.id == data.branch.id) {
                branch.isClose = true;
                branch.distance = data.distance;
              }
            });

            //self.closerBranches.push(data);
          }
        }

        self.branches = self.branches.sort(function(a, b) {
          return a.distance - b.distance;
        });
        //self.closerBranches = ordenedBranches;
        //console.log(self.branches);
        self.$showLoading(false);
      }
    },
    getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
      let self = this;
      var R = 6371; // Radius of the earth in km
      var dLat = self.deg2rad(lat2 - lat1); // deg2rad below
      var dLon = self.deg2rad(lon2 - lon1);
      var a =
        Math.sin(dLat / 2) * Math.sin(dLat / 2) +
        Math.cos(self.deg2rad(lat1)) *
          Math.cos(self.deg2rad(lat2)) *
          Math.sin(dLon / 2) *
          Math.sin(dLon / 2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
      var d = R * c; // Distance in km
      return d;
    },
    deg2rad(deg) {
      return deg * (Math.PI / 180);
    }
  }
};
</script>

<style scoped>
.form-control {
  padding: 20px;
  border-radius: 3px !important;
}

.btnIn {
  position: absolute;
  z-index: 9;
  right: 6px;
  top: 2px;
}
</style>
