<template>
  <div>
    <div class="row">
      <div class="col-md-12 text-center p-2">
        <div>
          <strong>Sucursal: {{$store.getters.getUserInfo.branchSelected.branch}}</strong>
        </div>
      </div>
    </div>
    <div class="row" v-for="(item, index) in categories" :key="index">
      <div class="col-md-12 mt-1 text-center text-light p-0">
        <button
          :class="[`btn btn-block p-3 rounded-0 text-uppercase text-light`]"
          v-bind:style="[{'z-index': 3 ,'top': 117+'px',}, index%2==0 ? {'background-color':$store.getters.getUserInfo.branchSelected.color_primary}:{'background-color': $store.getters.getUserInfo.branchSelected.color_secondary } ]"
          @click="goToList(item)"
        >
          <strong>{{item.category}}</strong>
        </button>
      </div>
    </div>

    <div class="questionContainer" v-if="showList">
      <button
        class="btn btn-block p-2 rounded-0 position-fixed text-uppercase text-light"
        v-bind:style="[{'z-index': 3 ,'top': 110+'px',}, categoryIndex%2==0 ? {'background-color':$store.getters.getUserInfo.branchSelected.color_primary}:{'background-color': $store.getters.getUserInfo.branchSelected.color_secondary } ]"
        @click="goToList"
      >
        <strong>{{selectedCategory.category}}</strong>
        <br>
        <i class="fas fa-sort-down fa-lg"></i>
      </button>
      <QuestionList :questions="selectedCategory.questions"/>
      <Navigation :categoryIndex="categoryIndex" :categoriesLength="categories.length-1"/>
    </div>
  </div>
</template>

<script>
import QuestionList from "@/components/Checklist/QuestionList.vue";
import Navigation from "@/components/Checklist/Navigation.vue";
export default {
  name: "Checklist",
  components: {
    QuestionList,
    Navigation
  },
  data() {
    return {
      categories: [],
      selectedCategory: {},
      showList: false,
      categoryIndex: 0
    };
  },
  beforeCreate() {
    if (this.$store.getters.getUserInfo.branchSelected == false)
      this.$router.push({ name: "branches" });
  },
  mounted() {
    $("body").scrollTop(0);
    this.$on("goToCategory", n => {
      this.goToCategory(n);
    });

    this.$bus.$on("cancelChecklist", () => {
      this.modalConfirm("Cancelar");
    });

    this.$bus.$on("finishChecklist", () => {
      this.modalConfirm("Finalizar");
    });

    this.$on("saveData", dataRequest => {
      this.saveData(dataRequest);
    });

    if (this.$store.getters.getCategories == false) {
      console.log("no categoreis");
      this.getCategories();
    } else {
      console.log("si categories");
      this.categories = this.$store.getters.getCategories;
      this.checkIfAnswered();

      if (this.$route.params.category_id != null) {
        let category = this.categories.find(category => {
          return category.id == this.$route.params.category_id;
        });
        this.goToList(category);
      }
    }
  },
  methods: {
    getCategories() {
      console.log("getCategories");

      let self = this;
      self.$store.state.services.checklistService
        .getQuestionsByCategories()
        .then(r => {
          self.categories = r.data.data;
          self.$store.dispatch("SetCategories", self.categories);
          self.$offlineStorage.set("categories", self.categories);
          self.categories = this.$store.getters.getCategories;
          //console.log(self.categories);

          self.checkIfAnswered();
        })
        .catch(error => {
          console.log(error);
        });
    },
    checkIfAnswered() {
      let self = this;

      self.$store.state.services.userService
        .getUser()
        .then(response => {
          self.$store.getters.getUserInfo.answereds = response.data.answereds;

          self.$store.dispatch("SetUserInfo", self.$store.getters.getUserInfo);
          self.$offlineStorage.set("userInfo", self.$store.getters.getUserInfo);

          if (self.$store.getters.getUserInfo.branchSelected == false) {
            self.resetStorageData();
            self.$router.push({ name: "branches" });
          }
        })
        .catch(error => {
          console.log(error);
        });

      self.categories.forEach(category => {
        category.questions.forEach(question => {
          self.$set(question, "siAnswer", false);
          self.$set(question, "noAnswer", false);
          self.$set(question, "naAnswer", false);
          self.$set(question, "lastNo", false);
          self.$set(question, "lastSi", false);
          self.$set(question, "file", false);
          self.$set(question, "solved", null);
          self.$set(question, "comments", null);
          self.$set(question, "answer_id", null);

          if (self.$store.getters.getUserInfo.answereds != false) {
            //console.log("mapping answereds");

            Object.keys(self.$store.getters.getUserInfo.answereds).forEach(
              function(key) {
                if (
                  self.$store.getters.getUserInfo.answereds[key].question_id ==
                  question.id
                ) {
                  let answered = self.$store.getters.getUserInfo.answereds[key];
                  question.comments = answered.comments;
                  question.file = { dataUrl: answered.image };
                  question.solved = answered.solved;
                  question.siAnswer = answered.siAnswer;
                  question.noAnswer = answered.noAnswer;
                  question.naAnswer = answered.naAnswer;
                  question.lastNo = answered.lastNo;
                  question.lastSi = answered.lastSi;
                  question.answer_id = answered.answer_id;
                }
              }
            );
          }
        });
      });
    },
    saveData(dataRequest) {
      console.log("saveData");
      let self = this;
      self.$store.state.services.checklistService
        .saveData(dataRequest)
        .then(r => {
          self.$store.getters.getUserInfo.answereds = r.data;

          self.$store.dispatch("SetUserInfo", self.$store.getters.getUserInfo);
          self.$offlineStorage.set("userInfo", self.$store.getters.getUserInfo);
          self.$store.dispatch("SetCategories", self.categories);
          self.$offlineStorage.set("categories", self.categories);
        })
        .catch(error => {
          console.log("offLine");
          let lenght = Object.keys(self.$store.getters.getUserInfo.answereds)
            .length;

          self.$store.getters.getUserInfo.answereds[lenght + 1] = dataRequest;

          console.log(self.$store.getters.getUserInfo.answereds);

          self.$store.dispatch("SetUserInfo", self.$store.getters.getUserInfo);
          self.$offlineStorage.set("userInfo", self.$store.getters.getUserInfo);
          self.$store.dispatch("SetCategories", self.categories);
          self.$offlineStorage.set("categories", self.categories);
          console.log(error);
        });
    },
    modalConfirm(type) {
      let self = this;
      Swal({
        title: `¿Deseas ${type} este checklist?`,
        text: "¡Esta sección no se podrá deshacer!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor:
          self.$store.getters.getUserInfo.branchSelected.color_primary,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Si"
      }).then(result => {
        if (result.value) {
          swal({
            title: type == "Finalizar" ? "¡Finalizando!" : "¡Cancelando!",
            onOpen: () => {
              swal.showLoading();
            }
          });
          if (type == "Finalizar") self.finishChecklist();
          else self.cancelChecklist();
        }
      });
    },
    cancelChecklist() {
      let self = this;
      self.$store.state.services.checklistService
        .cancelChecklist()
        .then(r => {
          console.log(r);
          Swal("¡Listo!", "Checklist cancelado correctamente");
          self.resetStorageData();
          self.$router.push({ name: "branches" });
        })
        .catch(error => {
          console.log(error);
        });
    },
    finishChecklist() {
      console.log("finishChecklist");
      let self = this;

      self.$store.state.services.checklistService
        .finishChecklist(self.$store.getters.getUserInfo.id)
        .then(r => {
          Swal("¡Listo!", "Checklist enviado correctamente");
          self.resetStorageData();
          self.$router.push({ name: "branches" });
        })
        .catch(error => {
          console.log(error);
        });
    },
    goToList(item) {
      $("body").scrollTop(0);
      this.showList = this.showList ? false : true;
      this.selectedCategory = item;
      this.categoryIndex = this.categories.indexOf(this.selectedCategory);
      if (this.showList) {
        window.scrollTo(0, 0);
        $("body").addClass("noScroll");
      } else {
        $("body").removeClass("noScroll");
      }
    },
    goToCategory(n) {
      let index = this.categories.indexOf(this.selectedCategory);
      let newIndex = index + n;

      if (newIndex < 0) newIndex = 0;
      else if (newIndex > this.categories.length) newIndex--;

      this.categoryIndex = newIndex;
      this.selectedCategory = this.categories[newIndex];
      this.showList = true;
      $(".questionContainer").animate({ scrollTop: 0 }, "fast");
    }
  },
  watch: {
    selectedCategory() {
      this.selectedCategory = this.categories[this.categoryIndex];
    },
    networkStatus() {
      if (this.isOnline) {
        console.log(this.$store.getters.getUserInfo.answereds);
      } else console.log("status: " + this.isOnline);
    }
  },
  computed: {
    networkStatus() {
      return this.isOnline;
    }
  },
  beforeDestroy() {
    $("body").removeClass("noScroll");
    console.log("beforeDestroy");
    if (
      this.$store.getters.getUserInfo.answereds == false &&
      !this.$store.getters.getUserInfo.role.includes("tienda")
    )
      this.resetStorageData();
  }
};
</script>

<style>
.navigate {
  border-top: 1px solid gray;
  position: fixed;
  width: 100%;
  height: fit-content;
  z-index: 9;
  bottom: 0px;
}

.questionContainer {
  position: fixed;
  width: 100%;
  height: 140%;
  top: 118px;
  z-index: 1;
  background-color: gainsboro;
  left: 0;
  overflow: auto;
  padding-bottom: 35em !important;
}

.noScroll {
  overflow: hidden !important;
  padding-bottom: 100px !important;
}
</style>
