<template>
  <div>
    <h4 class="mt-4">
      <router-link
        :to="{ name: 'tickets', params: { queryFilter: $route.params.queryFilter, modelFilters: $route.params.modelFilters } }"
      >
        <i class="far fa-arrow-alt-circle-left text-dark mr-1"></i>
      </router-link>

      <strong>{{ticket.incidence}}</strong>
    </h4>
    <br>

    <div class="row">
      <div class="col">
        <div class="details bg-white p-3 rounded">
          <div class="row">
            <div class="col-md-3">
              <img
                :src="require(`../assets/${ticket.brand_image}`)"
                style="max-height: 40px"
                class="mt-2 img-fluid"
                alt="img"
              >
            </div>
            <div class="col-md">
              <div class="row">
                <div class="col-md-3 col-sm-4 col-6">
                  <label for>Sucursal</label>
                  <p>{{ticket.branch_office}}</p>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                  <label for>Fecha</label>
                  <p>{{ticket.date}}</p>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                  <label for>Categoría</label>
                  <p>{{ticket.category}}</p>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                  <label for>Quíen Reporta</label>
                  <p>{{ticket.reported_by}}</p>
                </div>
                <div class="col-md-4 col-sm-4 col-6">
                  <label for>Responsable</label>
                  <p>{{ticket.assigned_to}}</p>
                </div>
                <div class="col-md-8" v-if="ticket.comments != ''">
                  <label for>Comentario</label>
                  <p>{{ticket.comments}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Filters -->
    <div class="row mt-4">
      <div class="col-md">
        <!-- Dropdowns -->
        <div class="row">
          <div class="col-md">
            <label for>Fecha compromiso:</label>
            <datepicker
              input-class="bg-white"
              :language="es"
              bootstrap-styling
              placeholder="Fecha desde -"
              format="dd/MMMM/yyyy"
              v-on:closed="saveLog({ commitment_date: ticket.commitment_date })"
              v-model="ticket.commitment_date"
            ></datepicker>
          </div>
          <div class="col-md">
            <label for>Status:</label>
            <select
              class="custom-select"
              v-on:change="saveLog({status: ticket.status})"
              v-model="ticket.status"
            >
              <option :value="null" disabled selected>Status -</option>
              <option value="1">Pendiente</option>
              <option value="2">En Proceso</option>
              <option value="3">Terminado</option>
            </select>
          </div>
          <div class="col-md">
            <label for>Prioridad:</label>
            <select
              class="custom-select"
              v-on:change="saveLog({priority: ticket.priority})"
              v-model="ticket.priority"
            >
              <option :value="null" disabled selected>Prioridad -</option>
              <option value="3">Alta</option>
              <option value="2">Media</option>
              <option value="1">Baja</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md">Agregar un Nota
            <div class="form-group mt-1">
              <textarea class="form-control" rows="3" v-model="note"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="form-group">
              <button
                class="btn btn-dark float-right btn-sm"
                @click="saveNote(note)"
                :disabled="note ==''"
              >Guardar</button>
              <button @click="fileInput" class="btn btn-info btn-sm float-left">Subir archívo</button>
              <image-uploader
                ref="fileInput"
                :preview="false"
                :className="['float-left img p-0 d-none']"
                capture="environment"
                :debug="1"
                :autoRotate="true"
                outputFormat="verbose"
                @input="setImage"
                :maxWidth="512"
                :quality="0.2"
                accept="pdf/, image/*"
              >
                <label class="pt-1 pl-2" for="fileInput" slot="upload-label">
                  <span class="upload-caption">
                    {{
                    hasImage ? file.file_name : "Ningun archívo"
                    }}
                  </span>
                </label>
              </image-uploader>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="mx-auto">
          <img
            :src="`${$store.state.services.apiUrl}${ticket.image}`"
            class="img-fluid img-thumbnail mb-3"
            alt="img"
          >
        </div>
        <!-- <Pagination/> -->
      </div>
    </div>
    <br>

    <div v-if="notes != null">
      <div class="row mt-2">
        <div class="col-md">
          <Pagination :meta="notes.meta" v-if="notes.meta.last_page > 1"/>
        </div>
      </div>

      <div>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-secondary" role="alert">
              <strong>Logs y Notas</strong>
              <span class="float-right text-muted" style="font-size: 14px">
                Total
                <strong>{{notes.meta.total}}</strong>
                Registros
              </span>
            </div>
          </div>
        </div>

        <!-- Logs and Notes -->
        <div v-if="notes.data != null">
          <div v-for="(log, index) in notes.data" :key="index">
            <LogNote :log="log"></LogNote>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md">
          <Pagination :meta="notes.meta" v-if="notes.meta.last_page > 1"/>
        </div>
      </div>
    </div>
    <div v-else>
      <spinner/>
    </div>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import LogNote from "@/components/Details/LogNote.vue";
import Pagination from "@/components/shared/Pagination.vue";
import { en, es } from "vuejs-datepicker/dist/locale";
import moment from "moment";

export default {
  name: "Detalles",
  components: { Datepicker, LogNote, Pagination },
  data() {
    return {
      es: es,
      moment: moment,
      ticket: {
        brand_image: "",
        notes: []
      },
      note: "",
      notes: {
        data: null,
        meta: {
          last_page: 0
        }
      },
      file: {
        dataUrl: ""
      },
      hasImage: false
    };
  },
  created() {
    this.$showLoading(true);
    let self = this;
    let _id = self.$route.params.id;
    self.$store.state.services.ticketService
      .getTicketsDetails(_id)
      .then(r => {
        self.ticket = r.data.data;
        //console.log(self.ticket);
        this.getLogsNotes();
      })
      .catch(error => {
        console.log(error);
        this.$showLoading(false);
      });
  },
  mounted() {
    let self = this;
    this.$bus.$on("goToPage", page => {
      self.goToPage(page);
    });

    this.$bus.$on("getLogsNotes", () => {
      self.getLogsNotes();
    });
  },
  methods: {
    fileInput() {
      this.$refs.fileInput.$el.childNodes[1].click();
    },
    setImage(file) {
      let self = this;
      this.file = null;
      self.hasImage = true;
      this.file = file;

      this.file.file_name = file.name
        .split(".")
        .slice(0, -1)
        .join(".");
      this.file.file_ext = file.name.split(".").pop();

      if (file.dataUrl != null) this.file.dataUrl = file.dataUrl;
      else {
        this.file = file;
        var fileToLoad = this.file;
        // FileReader function for read the file.
        var fileReader = new FileReader();
        var base64;
        // Onload of file read the file content
        fileReader.onload = function(fileLoadedEvent) {
          base64 = fileLoadedEvent.target.result;
          // Print data in console
          //console.log(base64);
          self.file.dataUrl = base64;
        };
        // Convert data to base64
        fileReader.readAsDataURL(fileToLoad);
      }
    },
    saveNote() {
      this.$showLoading(true);
      let self = this;
      let dataRequest = {
        comments: self.note,
        ticket_id: self.ticket.id,
        user_id: self.$store.getters.getUserInfo.id
      };

      if (this.file.dataUrl != "") {
        dataRequest.file = self.file.dataUrl;
        dataRequest.file_name = self.file.file_name;
        dataRequest.file_ext = self.file.file_ext;
      }
      self.$store.state.services.noteService
        .Save(dataRequest)
        .then(r => {
          self.file.dataUrl = "";
          self.file.file_name = "Ningun archivo";
          document.getElementsByClassName("img")[0].value = "";
          this.getLogsNotes();
        })
        .catch(error => {
          console.log(error);
          this.$showLoading(false);
        });
    },
    saveLog(dataRequest) {
      this.$showLoading(true);
      let self = this;

      if (dataRequest.commitment_date != null) {
        dataRequest.commitment_date = self
          .moment(dataRequest.commitment_date)
          .format("YYYY-MM-D");
      }

      self.$store.state.services.ticketService
        .saveTicketLog(self.ticket.id, dataRequest)
        .then(r => {
          this.getLogsNotes();
        })
        .catch(error => {
          console.log(error);
          this.$showLoading(false);
        });
    },
    getLogsNotes() {
      this.$showLoading(true);
      let self = this;

      self.$store.state.services.ticketService
        .getLogsNotes(self.ticket.id)
        .then(r => {
          self.notes = r.data;
          self.note = "";

          //console.log(self.notes);
          this.$showLoading(false);
        })
        .catch(error => {
          console.log(error);
          this.$showLoading(false);
        });
    },
    goToPage(page) {
      let self = this;
      self.notes = null;

      self.$store.state.services.noteService
        .getNotesByPage(self.ticket.id, page)
        .then(r => {
          self.notes = r.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style scoped>
label {
  margin-bottom: 0.2rem !important;
  font-size: 14px;
  color: #9c9c9c;
}

p {
  margin-bottom: 0.5rem !important;
}

.dropdown-toggle::after {
  float: right;
  margin-top: 10px;
}
</style>
