<template>
  <div class="home">
    <h3>Home</h3>
    <hr>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
</style>
