<template>
  <div>
    <h5 class="mt-4">
      <router-link :to="{ name: 'metas' }">
        <i class="far fa-arrow-alt-circle-left text-dark mr-1 mt-2 fa-lg"></i>
      </router-link>
      <strong>REPORTES HISTÓRICOS</strong>
    </h5>
    <h5 class="pl-4 text-capitalize">&nbsp;{{$store.getters.getUserInfo.name}}</h5>
    <hr>

    <!-- List -->
    <HystoricList :metas="metas" v-if="metas.length > 0"/>
    <div v-else>
      <spinner/>
    </div>
    <br>
  </div>
</template>

<script>
import HystoricList from "@/components/HystoricList.vue";
export default {
  name: "Hystoric",
  components: {
    HystoricList
  },
  data() {
    return {
      metas: []
    };
  },
  created() {
    this.getHistoric();
  },
  methods: {
    getHistoric() {
      let self = this;
      let items = [];
      self.$store.state.services.metaService
        .getHistoric()
        .then(r => {
          Object.keys(r.data).forEach(function(key) {
            items.push(r.data[key]);
          });

          self.metas = items.reverse();
          //console.log(self.metas);
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style scoped>
</style>
