<template>
  <div class="row align-self-center w-100 mx-auto login">
    <div class="col-md-6 mx-auto">
      <form @submit.prevent="Login">
        <div class="form-group mx-auto" style="width: fit-content;">
          <img :src="require(`../assets/${clientImg}`)" align="center" height="50">
        </div>
        <br>
        <div class="form-group">
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
              <span
                style="padding: 14px; background-color: rgba(84, 84, 84, 0.49);"
                class="input-group-text rounded-circle border-0"
                id="inputGroupPrepend"
              >
                <i class="fas fa-user"></i>
              </span>
            </div>

            <input
              v-model="user"
              type="email"
              class="form-control bg-transparent text-light p-4 border-0 pl-0"
              placeholder="Usuario"
              required
            >
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span
                style="padding: 14px; background-color: rgba(84, 84, 84, 0.49);"
                class="input-group-text rounded-circle border-0"
                id="inputGroupPrepend"
              >
                <i class="fas fa-lock"></i>
              </span>
            </div>
            <input
              v-model="password"
              type="password"
              placeholder="Password"
              class="form-control bg-transparent text-light p-4 border-0"
              required
            >
          </div>
        </div>
        <transition mode="out-in" enter-active-class="animated fadeIn">
          <small
            v-if="error != ''"
            style="color: rgb(234, 165, 175)"
            class="form-text text-center"
          >{{error}}</small>
        </transition>
        <br>
        <div class="form-group" align="center">
          <button
            type="submit"
            class="btn btn-cherry btn-block w-50 w-100"
            style="font-weight: 600; padding:12px"
          >LOGIN</button>
        </div>
      </form>
      <br>
      <br>
    </div>
    <div
      class="position-absolute text-gray-600 align-self-center w-100 mx-auto text-center"
      style="bottom:20px; margin-left:-10px; left:0px"
    >
      <p>
        developed by
        <a href="http://unexpect.mx/" target="_blank">UNEXPECT&reg;</a>
      </p>
    </div>
  </div>
</template>

<script>
import Axios from "axios";
export default {
  name: "Login",
  data() {
    return {
      user: "",
      password: "",
      error: ""
    };
  },
  beforeCreate() {
    if (this.$store.getters.getUserInfo) this.$router.go(-1);
  },
  mounted() {
    this.$showLoading(false);
  },
  methods: {
    Login() {
      let self = this;
      self.$showLoading(true);
      self.$store.state.services.authService
        .Login(self.user, self.password)
        .then(response => {
          self.$store.state.services.authService.setToken(
            response.data.access_token,
            response.data.expires_in + Date.now()
          );

          Axios.defaults.headers.common["Authorization"] =
            "Bearer " + response.data.access_token;

          self.$store.state.services.userService
            .getUser()
            .then(response => {
              localStorage.setItem("userInfo", JSON.stringify(response.data));
              self.$store.dispatch("SetUserInfo", response.data);
              self.$showLoading(false);

              if (self.$store.getters.getUserInfo.role.includes("supervisor"))
                self.$router.push({ name: "metas" });
              else if (!self.$store.getters.getUserInfo.role.includes("tienda"))
                self.$router.push({ name: "tickets" });
              else self.$router.push({ name: "branches" });
            })
            .catch(error => {
              console.log(error);
            });
        })
        .catch(error => {
          self.$showLoading(false);
          if (error.response.status == 401)
            self.error = "Usuario ó contraseña incorrecta";
        });
    }
  }
};
</script>

<style scoped>
input {
  font-size: 1em;
}

.login {
  margin-top: -20px !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(212, 212, 212);
  opacity: 1; /* Firefox */
}

.btn {
  border-radius: 50px !important;
}

.input-group {
  border-radius: 50px;
  border: 1px solid rgb(180, 180, 180) !important;
}

.input-group-text {
  color: rgb(212, 212, 212);
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px solid rgb(180, 180, 180) !important;
  -webkit-text-fill-color: rgb(212, 212, 212);
  transition: background-color 3000s ease-in-out 0s;
}

.input-group-prepend {
  margin-right: -1px;
  margin-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 28px;
}
</style>
