<template>
  <div>
    <h3 class="mt-4">METAS</h3>
    <router-link class="float-right" to="hystoric" tag="a">Ver histórico</router-link>
    <h6 class="text-capitalize">{{$store.getters.getUserInfo.name}}</h6>
    <h6>
      <strong>Semana {{week}} /</strong>
      {{startOfWeek}} - {{endOfWeek}}
    </h6>
    <hr>

    <!-- List -->
    <MetaList :items="items" v-if="items.length > 0"/>
    <div v-else>
      <spinner/>
    </div>
  </div>
</template>

<script>
import MetaList from "@/components/MetaList.vue";
import moment from "moment";
moment.locale("es");
export default {
  name: "Metas",
  components: {
    MetaList
  },
  data() {
    return {
      metas: {},
      week: moment(new Date()).week(),
      metasMaped: {},
      items: [],
      loading: false,
      startOfWeek: moment()
        .startOf("isoWeek")
        .format("DD MMM"),
      endOfWeek: moment()
        .endOf("isoWeek")
        .format("DD MMM")
    };
  },
  created() {
    this.onOpen();
  },
  methods: {
    onOpen() {
      let self = this;
      self.$showLoading(true);
      self.$store.state.services.metaService
        .getAll(self.week)
        .then(r => {
          self.metas = r.data;
          self.isCompleted();
          self.$showLoading(false);
          this.loading = false;
        })
        .catch(error => {
          console.log(error);
          self.$showLoading(false);
        });
    },
    async isCompleted() {
      let self = this;

      await Object.keys(this.metas).forEach(function(key) {
        self.metas[key].completed = 0;
        Object.keys(self.metas[key].categories).forEach(function(key2) {
          if (self.metas[key].categories[key2].questions.length == 0) {
            self.metas[key].completed++;
          }
        });
      });

      await Object.keys(this.metas).forEach(function(key) {
        self.items.push(self.metas[key]);
      });
    }
  }
};
</script>

<style lang="scss" scope>
</style>
