<template>
  <div class="pb-4">
    <h3 class="mt-4">SCORES</h3>
    <hr>

    <!-- Filters -->
    <div class="row">
      <div class="col-md mb-3">
        <div class="mx-auto" style="width:fit-content">
          <button
            class="btn btn-dark d-md-inline d-lg-none"
            type="button"
            style="width: 150px;"
            data-toggle="collapse"
            data-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <i class="fas fa-filter"></i>
          </button>
          <button
            @click="downloadFile"
            type="button"
            class="ml-2 btn btn-light text-success d-inline d-lg-none"
          >
            Descargar Excel
            <i class="far fa-file-excel"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 collapse d-lg-block" id="collapseExample">
        <!-- Buttons -->
        <div class="row">
          <div class="ml-1 col-12">
            <strong>Agrupar por:</strong>
            <span v-if="groupBy == 1" class="ml-2 p-2 badge badge-pill badge-gold text-white">Marca</span>
            <span v-if="groupBy == 2" class="ml-2 p-2 badge badge-pill badge-danger">Sucursal</span>
            <span v-if="groupBy == 3" class="ml-2 p-2 badge badge-pill badge-dark">Incidencia</span>
          </div>
          <div class="col-12">
            <button
              type="button"
              @click="getByGroup(1)"
              class="ml-1 mt-2 btn btn-gold text-white"
            >Marca</button>
            <button type="button" @click="getByGroup(2)" class="ml-1 mt-2 btn btn-danger">Sucursal</button>
            <button type="button" @click="getByGroup(3)" class="ml-1 mt-2 btn btn-dark">Incidencia</button>
            <!-- <button
              type="button"
              @click="filterByStatus(2)"
              class="ml-1 mt-2 btn btn-dark"
            >C. Comercial</button>-->
            <button
              @click="downloadFile"
              type="button"
              class="ml-1 mt-2 btn btn-light text-success d-none d-lg-inline float-right"
            >
              Descargar Excel
              <i class="far fa-file-excel"></i>
            </button>
          </div>
        </div>
        <br>

        <!-- Dropdowns -->
        <div v-if="filters">
          <div class="row">
            <div class="ml-1 col-12">
              <strong>Filtrar por:</strong>
            </div>
          </div>

          <div class="row">
            <div class="col-md mt-2">
              <select
                class="custom-select"
                v-model="modelFilters.brand"
                v-on:change="addFilter('brand')"
              >
                <option :value="null">Marca -</option>
                <option
                  :value="item.id"
                  v-for="(item, index) in filters.brands"
                  :key="index"
                >{{item.name}}</option>
              </select>
            </div>
            <div class="col-md mt-2">
              <select
                class="custom-select"
                v-model="modelFilters.branch"
                v-on:change="addFilter('branch')"
              >
                <option :value="null" selected>Sucursal -</option>
                <option
                  :value="item.id"
                  v-for="(item, index) in filters.branchs"
                  :key="index"
                >{{item.branch}}</option>
              </select>
            </div>
            <div class="col-md mt-2">
              <select
                class="custom-select"
                v-model="modelFilters.category"
                v-on:change="addFilter('category')"
              >
                <option :value="null" selected>Categoría -</option>
                <option
                  :value="item.id"
                  v-for="(item, index) in filters.categories"
                  :key="index"
                >{{item.category}}</option>
              </select>
            </div>
            <div class="col-md mt-2">
              <div class="btn">
                <input @change="getScoresFiltered" v-model="modelFilters.danger" type="checkbox">
                <i class="fas fa-exclamation-circle fa-lg text-danger"></i>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 mt-3">
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  id="customRadioInline1"
                  name="customRadioInline1"
                  class="custom-control-input"
                  v-model="modelFilters.checked"
                  @change="changeRadio"
                  value="mensual"
                >
                <label class="custom-control-label" for="customRadioInline1">Mensual</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  id="customRadioInline2"
                  name="customRadioInline1"
                  class="custom-control-input"
                  v-model="modelFilters.checked"
                  @change="changeRadio"
                  value="trimestral"
                >
                <label class="custom-control-label" for="customRadioInline2">Trimestral</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  id="customRadioInline3"
                  name="customRadioInline1"
                  class="custom-control-input"
                  v-model="modelFilters.checked"
                  @change="changeRadio"
                  value="otro"
                  checked
                >
                <label class="custom-control-label" for="customRadioInline3">Otro</label>
              </div>
            </div>
            <div class="col-md-4 mt-2">
              <datepicker
                v-if="modelFilters.checked == 'otro'"
                input-class="bg-white"
                :language="es"
                bootstrap-styling
                placeholder="Fecha desde -"
                format="dd/MMMM/yyyy"
                v-on:closed="addFilter('startDate')"
                v-model="modelFilters.startDate"
                :disabledDates="{ from: modelFilters.endDate }"
                clear-button
                clear-button-icon="fa fa-times"
                v-on:cleared="addFilter('startDate')"
              ></datepicker>
              <datepicker
                v-else-if="modelFilters.checked == 'mensual'"
                input-class="bg-white"
                :language="es"
                bootstrap-styling
                placeholder="Por Mes -"
                format="MMMM"
                v-on:closed="addFilter('month')"
                v-model="modelFilters.month"
                clear-button
                clear-button-icon="fa fa-times"
                v-on:cleared="addFilter('month')"
                :minimumView="'month'"
                :maximumView="'month'"
              ></datepicker>
              <select
                v-else-if="modelFilters.checked == 'trimestral'"
                class="custom-select"
                v-model="modelFilters.quarter"
                v-on:change="addFilter('trimestral')"
              >
                <option :value="null" selected>trimeste -</option>
                <option value="2">Enero a Marzo</option>
                <option value="5">Abril a Junio</option>
                <option value="8">Julio a Septiembre</option>
                <option value="11">Octubre a Diciembre</option>
              </select>
            </div>
            <div class="col-md mt-2" v-if="modelFilters.checked == 'otro'">
              <datepicker
                input-class="bg-white"
                :language="es"
                bootstrap-styling
                placeholder="Fecha hasta -"
                format="dd/MMMM/yyyy"
                v-on:closed="addFilter('endDate')"
                v-model="modelFilters.endDate"
                :disabledDates="{ to: modelFilters.startDate }"
                clear-button
                clear-button-icon="fa fa-times"
                v-on:cleared="addFilter('endDate')"
              ></datepicker>
            </div>
          </div>

          <div class="row">
            <div class="col-md">
              <div class="mx-auto mt-4" style="width: fit-content">
                <button class="btn btn-dark" @click="getScoresFiltered">
                  Buscar
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-gray-600 ml-3" @click="cleanFilters">Limpiar Filtros</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Results -->
    <br>

    <ScoreList :scores="scores" :groupBy="groupBy" :danger="modelFilters.danger"/>
    <br>
    <br>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import ScoreList from "@/components/Scores/ScoreList.vue";
import { en, es } from "vuejs-datepicker/dist/locale";
import moment from "moment";

export default {
  name: "Scores",
  components: {
    Datepicker,
    ScoreList
  },
  data() {
    return {
      groupBy: 1,
      es: es,
      scores: null,
      filters: {
        branchs: null,
        brands: null,
        categories: null
      },
      modelFilters: {
        brand: null,
        branch: null,
        category: null,
        priority: null,
        responsable: null,
        expired: false,
        startDate: null,
        endDate: null,
        status: 0,
        danger: false,
        checked: "otro",
        month: null,
        quarter: null
      },
      typeFilters: {
        category: "",
        brand: "",
        branch: "",
        priority: "",
        responsable: "",
        status: "",
        expired: "",
        page: "",
        startDate: "",
        endDate: "",
        month: "",
        quarter: "",
        groupBy: ""
      },
      queryFilter: "?"
    };
  },
  created() {
    this.$showLoading(true);
    this.getFilters();
    this.getByGroup(1);
  },
  methods: {
    getByGroup(groupBy) {
      let self = this;
      self.groupBy = groupBy;

      switch (groupBy) {
        case 1:
          self.typeFilters.groupBy = `groupby=${groupBy}`;
          break;
        case 2:
          self.typeFilters.groupBy = `groupby=${groupBy}`;
          break;
        case 3:
          self.typeFilters.groupBy = `groupby=${groupBy}`;
          break;

        default:
          break;
      }

      self.getScoresFiltered();
    },
    getScoresFiltered() {
      let self = this;
      this.$showLoading(true);
      self.scores = null;
      if (this.modelFilters.expired == false) this.typeFilters.expired = "";

      self.$store.state.services.scoreService
        .getScoresFiltered(
          self.queryFilter + this.typeFilters.expired,
          self.groupBy
        )
        .then(r => {
          self.scores = r.data;
          console.log(self.scores);
          this.$showLoading(false);
        })
        .catch(error => {
          console.log(error);
          this.$showLoading(false);
        });
    },
    addFilter(type) {
      let self = this;
      let value = event.srcElement.value;

      switch (type) {
        case "brand":
          self.typeFilters.brand = value ? `brand=${value}&` : "";
          break;
        case "branch":
          self.typeFilters.branch = value ? `branch=${value}&` : "";
          break;
        case "category":
          self.typeFilters.category = value ? `category=${value}&` : "";
          break;
        case "priority":
          self.typeFilters.priority = value ? `priority=${value}&` : "";
          break;
        case "responsable":
          self.typeFilters.responsable = value ? `responsable=${value}&` : "";
          break;
        case "startDate":
          self.typeFilters.startDate = self.modelFilters.startDate
            ? `start_date=${moment(self.modelFilters.startDate).format(
                "YYYY-MM-D"
              )}&`
            : "";
          break;
        case "month":
          self.typeFilters.month = self.modelFilters.month
            ? `month=${moment(self.modelFilters.month).format("M")}&`
            : "";
          break;
        case "trimestral":
          self.typeFilters.quarter = value ? `quarter=${value}&` : "";
          break;
        case "endDate":
          self.typeFilters.endDate = self.modelFilters.endDate
            ? `end_date=${moment(self.modelFilters.endDate).format(
                "YYYY-MM-D"
              )}&`
            : "";
          break;
        case "status":
          self.typeFilters.status = self.modelFilters.status
            ? `status=${self.modelFilters.status}&`
            : "";
          break;

        default:
          break;
      }

      self.queryFilter = `?${self.typeFilters.brand}${self.typeFilters.branch}${
        self.typeFilters.category
      }${self.typeFilters.priority}${self.typeFilters.responsable}${
        self.typeFilters.startDate
      }${self.typeFilters.endDate}${self.typeFilters.status}${
        self.typeFilters.month
      }${self.typeFilters.quarter}`;

      console.log(self.queryFilter);
    },
    downloadFile() {
      let self = this;
      console.log(self.queryFilter);

      window.open(
        self.$store.state.services.scoreService.exportFile(
          self.queryFilter +
            self.typeFilters.groupBy +
            `&user_id=${self.$store.getters.getUserInfo.id}`
        ),
        "_blank"
      );
    },
    changeRadio() {
      this.modelFilters.month = null;
      this.modelFilters.quarter = null;
      this.modelFilters.startDate = null;
      this.modelFilters.endDate = null;

      this.typeFilters.month = "";
      this.typeFilters.quarter = "";
      this.typeFilters.startDate = "";
      this.typeFilters.endDate = "";
    },
    getFilters() {
      let self = this;
      this.$showLoading(true);
      self.$store.state.services.scoreService
        .getFilters(self.groupBy)
        .then(r => {
          self.filters = r.data;
          console.log(self.filters);
          this.$showLoading(false);
        })
        .catch(error => {
          console.log(error);
          this.$showLoading(false);
        });
    },
    cleanFilters() {
      this.modelFilters = {
        brand: null,
        branch: null,
        category: null,
        priority: null,
        responsable: null,
        expired: false,
        startDate: null,
        endDate: null,
        status: 0,
        danger: false,
        checked: "otro",
        month: null,
        quarter: null
      };

      this.typeFilters = {
        category: "",
        brand: "",
        branch: "",
        priority: "",
        responsable: "",
        status: "",
        expired: "",
        page: "",
        startDate: "",
        endDate: "",
        month: "",
        quarter: ""
      };

      this.queryFilter = "?";
    }
  }
};
</script>

<style scoped>
input {
  height: 22px;
  width: 21px;
  float: left;
  margin-right: 5px;
}

.custom-control-label::before,
.custom-control-label::after {
  width: 1.5rem;
  height: 1.5rem;
}

.custom-control-label {
  padding-left: 7px;
  padding-top: 4px;
}
</style>
