<template>
  <div class="home">
    <h3 class="mt-4">TICKETS</h3>
    <hr>

    <!-- Filters -->
    <div class="row">
      <div class="col-md mb-3">
        <div class="mx-auto" style="width:fit-content">
          <button
            class="btn btn-dark d-md-inline d-lg-none"
            type="button"
            style="width: 150px;"
            data-toggle="collapse"
            data-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <i class="fas fa-filter"></i>
          </button>
          <button
            @click="downloadFile"
            type="button"
            class="ml-2 btn btn-light text-success d-inline d-lg-none"
          >
            Descargar Excel
            <i class="far fa-file-excel"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 collapse d-lg-block" id="collapseExample">
        <!-- Buttons -->
        <div class="row">
          <div class="ml-1 col-12">
            <strong>Filtrar por Status:</strong>
            <span
              v-if="modelFilters.status == 1"
              class="ml-2 p-2 badge badge-pill badge-danger"
            >Pendiente</span>
            <span
              v-if="modelFilters.status == 2"
              class="ml-2 p-2 badge badge-pill badge-primary"
            >En Proceso</span>
            <span
              v-if="modelFilters.status == 3"
              class="ml-2 p-2 badge badge-pill badge-success"
            >Terminado</span>
          </div>
          <div class="col-12">
            <button type="button" @click="filterByStatus(null)" class="ml-1 mt-2 btn btn-dark">Todos</button>
            <button
              type="button"
              @click="filterByStatus(1)"
              class="ml-1 mt-2 btn btn-danger"
            >Pendiente</button>
            <button
              type="button"
              @click="filterByStatus(2)"
              class="ml-1 mt-2 btn btn-primary"
            >En Proceso</button>
            <button
              type="button"
              @click="filterByStatus(3)"
              class="ml-1 mt-2 btn btn-success"
            >Terminado</button>
            <div class="btn mt-2">
              <input type="checkbox" @change="filterByExpired" v-model="modelFilters.expired">
              <i class="fas fa-exclamation-circle fa-lg text-orange"></i>
            </div>
            <button
              @click="downloadFile"
              type="button"
              class="ml-1 mt-2 btn btn-light text-success d-none d-lg-inline"
            >
              Descargar Excel
              <i class="far fa-file-excel"></i>
            </button>
          </div>
        </div>
        <br>

        <!-- Dropdowns -->
        <div v-if="filters">
          <div class="row">
            <div class="ml-1 col-12">
              <strong>Filtrar por:</strong>
            </div>
          </div>

          <div class="row">
            <div class="col-md mt-2">
              <select
                class="custom-select"
                v-model="modelFilters.brand"
                v-on:change="addFilter('brand')"
              >
                <option :value="null">Marca -</option>
                <option
                  :value="item.id"
                  v-for="(item, index) in filters.brands"
                  :key="index"
                >{{item.name}}</option>
              </select>
            </div>
            <div class="col-md mt-2">
              <select
                :disabled="Object.keys(filters.branchs).length == 1"
                class="custom-select"
                v-model="modelFilters.branch"
                v-on:change="addFilter('branch')"
              >
                <option :value="null" selected>Sucursal -</option>
                <option
                  :value="item.id"
                  v-for="(item, index) in filters.branchs"
                  :key="index"
                >{{item.branch}}</option>
              </select>
            </div>
            <div class="col-md mt-2">
              <select
                class="custom-select"
                v-model="modelFilters.category"
                v-on:change="addFilter('category')"
              >
                <option :value="null" selected>Categoría -</option>
                <option
                  :value="item.id"
                  v-for="(item, index) in filters.categories"
                  :key="index"
                >{{item.category}}</option>
              </select>
            </div>
            <div class="col-md mt-2">
              <select
                class="custom-select"
                v-model="modelFilters.priority"
                v-on:change="addFilter('priority')"
              >
                <option :value="null" selected>Prioridad -</option>
                <option value="3">Alta</option>
                <option value="2">Media</option>
                <option value="1">Baja</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div v-if="$store.getters.getUserInfo.role != 'operadores'" class="col-md mt-2">
              <select
                :disabled="Object.keys(filters.users).length == 1"
                class="custom-select"
                v-model="modelFilters.responsable"
                v-on:change="addFilter('responsable')"
              >
                <option :value="null" selected>Responsable -</option>
                <!-- admin and director can see all -->
                <!-- operadores, supervisor and tienda can only see owns -->
                <option
                  :value="item.id"
                  v-for="(item, index) in filters.users"
                  :key="index"
                  :selected="item.id == $store.getters.getUserInfo.id"
                >{{item.name}}</option>
              </select>
            </div>

            <div class="col-md mt-2">
              <datepicker
                input-class="bg-white"
                :language="es"
                bootstrap-styling
                placeholder="Fecha desde -"
                format="dd/MMMM/yyyy"
                v-on:closed="addFilter('startDate')"
                v-model="modelFilters.startDate"
                :disabledDates="{ from: modelFilters.endDate }"
                clear-button
                clear-button-icon="fa fa-times"
                v-on:cleared="addFilter('startDate')"
              ></datepicker>
            </div>
            <div class="col-md mt-2">
              <datepicker
                input-class="bg-white"
                :language="es"
                bootstrap-styling
                placeholder="Fecha hasta -"
                format="dd/MMMM/yyyy"
                v-on:closed="addFilter('endDate')"
                v-model="modelFilters.endDate"
                :disabledDates="{ to: modelFilters.startDate }"
                clear-button
                clear-button-icon="fa fa-times"
                v-on:cleared="addFilter('endDate')"
              ></datepicker>
            </div>
          </div>

          <div class="row">
            <div class="col-md">
              <div class="mx-auto mt-4" style="width: fit-content">
                <button class="btn btn-dark" @click="getTicketsFiltered">
                  Buscar
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-gray-600 ml-3" @click="cleanFilters">Limpiar Filtros</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4" v-if="tickets.meta">
      <div class="col-md">
        <Pagination :meta="tickets.meta"/>
      </div>
    </div>

    <div v-if="tickets.data">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-secondary" role="alert">
            <strong>Incidencias</strong>
            <span class="float-right text-muted" style="font-size: 14px">
              se encontraron
              <strong>{{tickets.meta.total}} Tickets</strong>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-6 col-lg-4 col-sm-6"
          v-for="(ticket, index) in tickets.data"
          :key="index"
        >
          <Ticket :data="ticket" :queryFilter="queryFilter" :modelFilters="modelFilters"/>
        </div>
      </div>
    </div>
    <div v-else>
      <spinner/>
      <br>
      <br>
      <br>
    </div>

    <div class="row mt-3" v-if="tickets.meta">
      <div class="col-md">
        <Pagination :meta="tickets.meta" v-if="tickets.meta.last_page > 1"/>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Datepicker from "vuejs-datepicker";
import Ticket from "@/components/Ticket.vue";
import Pagination from "@/components/shared/Pagination.vue";
import { en, es } from "vuejs-datepicker/dist/locale";
import moment from "moment";

export default {
  name: "Tickets",
  components: {
    Ticket,
    Pagination,
    Datepicker
  },
  data() {
    return {
      es: es,
      tickets: {
        data: null,
        meta: null
      },
      filters: null,
      modelFilters: {
        brand: null,
        branch: null,
        category: null,
        priority: null,
        responsable: null,
        expired: false,
        startDate: null,
        endDate: null,
        status: 0,
        page: 0
      },
      typeFilters: {
        category: "",
        brand: "",
        branch: "",
        priority: "",
        responsable: "",
        status: "",
        expired: "",
        page: "",
        startDate: "",
        endDate: ""
      },
      queryFilter: "?"
    };
  },
  created() {
    let self = this;

    let _query = self.$route.params.queryFilter;

    this.getFilters();
    //this.modelFilters.responsable = this.$store.getters.getUserInfo.id;
    if (_query == "?" || _query == null) this.getAllTickets();
    else {
      self.queryFilter = _query;
      self.modelFilters = self.$route.params.modelFilters;

      if (self.$route.params.modelFilters.expired != "")
        self.typeFilters.expired = `&expired=${
          self.$route.params.modelFilters.expired
        }`;

      if (self.$route.params.modelFilters.page != 0)
        self.typeFilters.page = `page=${self.$route.params.modelFilters.page}`;

      self.getTicketsFiltered();
    }
  },
  mounted() {
    let self = this;
    this.$bus.$on("goToPage", page => {
      self.goToPage(page);
    });
  },
  methods: {
    downloadFile() {
      let self = this;
      //console.log(self.queryFilter);

      window.open(
        self.$store.state.services.apiUrl +
          "tickets/download/" +
          self.queryFilter +
          `user_id=${self.$store.state.userInfo.id}`,
        "_blank"
      );
    },
    getAllTickets() {
      let self = this;
      this.$showLoading(true);
      self.$store.state.services.ticketService
        .getAll()
        .then(r => {
          self.tickets = r.data;
          //console.log(self.tickets);
          self.$showLoading(false);
        })
        .catch(error => {
          console.log(error);
          self.$showLoading(false);
        });
    },
    getTicketsFiltered() {
      let self = this;
      this.$showLoading(true);
      //console.log(self.queryFilter);
      self.tickets.data = null;
      if (this.modelFilters.expired == false) this.typeFilters.expired = "";
      if (this.modelFilters.page == 0) this.typeFilters.page = "";

      self.$store.state.services.ticketService
        .getTicketsFiltered(
          self.queryFilter + this.typeFilters.page + this.typeFilters.expired
        )
        .then(r => {
          self.tickets = r.data;
          self.$showLoading(false);
          //console.log(self.tickets);
        })
        .catch(error => {
          self.$showLoading(false);
          console.log(error);
        });
    },
    async filterByStatus(status) {
      this.modelFilters.status = status;
      await this.addFilter("status");
      this.getTicketsFiltered();
    },
    filterByExpired() {
      //console.log("changed");

      this.typeFilters.expired = `&expired=${this.modelFilters.expired}`;
      this.getTicketsFiltered();
    },
    getFilters() {
      let self = this;
      self.$store.state.services.ticketService
        .getFilters()
        .then(r => {
          self.filters = r.data;

          if (Object.keys(self.filters.branchs).length == 1)
            self.modelFilters.branch = self.filters.branchs[0].id;

          if (Object.keys(self.filters.users).length == 1)
            self.modelFilters.responsable = self.filters.users[0].id;

          // console.log(self.filters);
        })
        .catch(error => {
          console.log(error);
        });
    },
    addFilter(type) {
      let self = this;
      let value = event.srcElement.value;
      //console.log(self.modelFilters.responsable);

      switch (type) {
        case "brand":
          self.typeFilters.brand = value ? `brand=${value}&` : "";
          break;
        case "branch":
          self.typeFilters.branch = value ? `branch=${value}&` : "";
          break;
        case "category":
          self.typeFilters.category = value ? `category=${value}&` : "";
          break;
        case "priority":
          self.typeFilters.priority = value ? `priority=${value}&` : "";
          break;
        case "responsable":
          self.typeFilters.responsable = value ? `responsable=${value}&` : "";
          break;
        case "startDate":
          self.typeFilters.startDate = self.modelFilters.startDate
            ? `start_date=${moment(self.modelFilters.startDate).format(
                "YYYY-MM-D"
              )}&`
            : "";
          break;
        case "endDate":
          self.typeFilters.endDate = self.modelFilters.endDate
            ? `end_date=${moment(self.modelFilters.endDate).format(
                "YYYY-MM-D"
              )}&`
            : "";
          break;
        case "status":
          self.typeFilters.status = self.modelFilters.status
            ? `status=${self.modelFilters.status}&`
            : "";
          break;

        default:
          break;
      }

      self.queryFilter = `?${self.typeFilters.brand}${self.typeFilters.branch}${
        self.typeFilters.category
      }${self.typeFilters.priority}${self.typeFilters.responsable}${
        self.typeFilters.startDate
      }${self.typeFilters.endDate}${self.typeFilters.status}`;

      //console.log(self.queryFilter);
    },
    cleanFilters() {
      this.modelFilters = {
        brand: null,
        branch: null,
        category: null,
        priority: null,
        responsable: null,
        startDate: null,
        endDate: null,
        status: 0
      };

      this.typeFilters = {
        category: "",
        brand: "",
        branch: "",
        priority: "",
        responsable: "",
        status: "",
        expired: "",
        startDate: "",
        endDate: ""
      };

      this.queryFilter = "?";
    },
    goToPage(page) {
      let self = this;
      self.tickets.data = null;
      self.modelFilters.page = page;
      self.typeFilters.page = `page=${page}`;

      if (this.modelFilters.expired == false) this.typeFilters.expired = "";
      let query = `${self.queryFilter}${self.typeFilters.page}${
        self.typeFilters.expired
      }`;

      self.$store.state.services.ticketService
        .getTicketsByPage(query)
        .then(r => {
          self.tickets = r.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
input {
  height: 22px;
  width: 21px;
  float: left;
  margin-right: 5px;
}
</style>
