<template>
  <div>
    <paginate ref="paginator" name="metas" :list="metas" class="paginate-list" :per="5"></paginate>
    <div class="row">
      <div class="col-md">
        <paginate-links
          class="pagination pagination-sm float-right"
          for="metas"
          :async="true"
          :hide-single-page="true"
        ></paginate-links>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" v-for="(meta, index) in paginated('metas')" :key="index">
        <div class="bg-dark mt-2 rounded">
          <Meta
            title="SEMANA"
            titleColor="text-gray-500"
            contentColor="text-gray-200"
            iconColor="text-light"
            :meta="meta"
            :index="`collapseParent${index}`"
            :check="true"
          />
        </div>
        <div
          class="bg-gray-300 rounded collapse borderTop"
          :id="`collapseParent${index}`"
          v-for="(branch, index2) in meta.branchs"
          :key="index2"
        >
          <Meta
            title="SUCURSAL"
            titleColor="text-gray-600"
            contentColor="text-gray-700"
            iconColor="text-gray-500"
            :meta="branch"
            :index="`collapseData2${index2+200+index}`"
            :check="true"
            :arrow="false"
          />
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md">
        <paginate-links
          class="pagination pagination-sm float-right"
          for="metas"
          :async="true"
          :hide-single-page="true"
        ></paginate-links>
      </div>
    </div>
  </div>
</template>

<script>
import Meta from "@/components/Meta.vue";
export default {
  name: "HystoricList",
  components: {
    Meta
  },
  props: {
    metas: Array
  },
  data() {
    return { paginate: ["metas"] };
  },
  updated() {
    $(".pagination li").addClass("page-item");
    $(".pagination li a").addClass("page-link");
  },
  mounted() {
    setTimeout(() => {
      $(".pagination li").addClass("page-item");
      $(".pagination li a").addClass("page-link");
    }, 2000);
  }
};
</script>

<style scoped>
.borderTop {
  border-top: 2px solid white;
}
</style>
