<template>
  <div>
    <div class="row">
      <div :class="[check ? 'col-7 col-sm-8 col-md-8 pl-4': 'col-10 col-sm-10 col-md-10 pl-4']">
        <div class="p-2">
          <label :class="[titleColor]">{{title}}</label>
          <br>
          <span v-if="!titleLink" :class="[` text-capitalize`, contentColor]">{{meta.name}}</span>
          <button
            v-else
            @click="beforeGo"
            to="dashboardmetas"
            :class="[`font-weight-bold btn bg-transparent text-capitalize p-0`,titleColor]"
          >
            <u>{{meta.name}}</u>
          </button>
        </div>
      </div>
      <div
        v-if="check"
        :class="[`border-left text-center col-3 col-sm-2 col-md-2 font-weight-bold text-light p-0 bg-danger`, {'bg-green': meta.completed == meta.total } ]"
      >
        <div class="p-3 d-flex h-100">
          <span
            class="align-self-center w-100"
            style="font-size: 16px"
          >{{meta.completed}}/{{meta.total}}</span>
        </div>
      </div>
      <div v-if="arrow" :class="[`text-center col-md col-2 font-weight-bold pl-0`, iconColor]">
        <div class="p-1 pt-2 pb-2 d-flex h-100">
          <i
            v-if="check"
            :class="[`fas fa-caret-down fa-2x align-self-center w-100 pointer `, {'text-green fa-check-circle': meta.completed == meta.total}]"
            data-toggle="collapse"
            :href="`#${index}`"
            role="button"
            aria-expanded="false"
            :aria-controls="`${index}`"
          ></i>
          <i
            v-else
            class="fas fa-times fa-2x align-self-center w-100 pointer text-danger"
            data-toggle="collapse"
            :href="`#${index}`"
            role="button"
            aria-expanded="false"
            :aria-controls="`${index}`"
          ></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Meta",
  props: {
    title: String,
    meta: Object,
    index: String,
    titleColor: String,
    contentColor: String,
    iconColor: String,
    check: Boolean,
    arrow: {
      type: Boolean,
      default: true
    },
    titleLink: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {};
  },
  created() {},
  methods: {
    modalConfirm() {
      let self = this;
      Swal({
        title: "¡Aviso!",
        text:
          "Ya tienes un checklist inicializado, deber finalizarlo para inicar otro",
        type: "info",
        showCancelButton: true,
        cancelButtonText: "Finalizar",
        confirmButtonText: "Ir"
      }).then(result => {
        if (result.value) {
          self.goToChechlist();
        } else if (result.dismiss === Swal.DismissReason.cancel) {
          this.finishChecklist();
        }
      });
    },
    beforeGo() {
      if (this.$store.getters.getUserInfo.branchSelected != false)
        this.modalConfirm();
      else this.goToChechlist();
    },
    goToChechlist() {
      this.$router.push({
        name: "branches",
        params: {
          branch_id: this.meta.branch_id,
          category_id: this.meta.category_id
        }
      });
    },
    finishChecklist() {
      let self = this;
      swal({
        title: "¡Finalizando!",
        onOpen: () => {
          swal.showLoading();
        }
      });

      self.$store.state.services.checklistService
        .finishChecklist(self.$store.getters.getUserInfo.id)
        .then(r => {
          Swal("¡Listo!", "Checklist finalizado correctamente");
          self.resetStorageData();
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style scoped>
.pointer {
  cursor: pointer;
}
.border-left {
  border-left: 1px solid white !important;
}
</style>
