<template>
  <div>
    <br>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar sucursal..." v-model="search">
          <div class="input-group-append">
            <button class="btn bg-transparent btnIn" disabled type="button" id="button-addon2">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <paginate-links
          class="pagination pagination-sm float-right"
          for="filteredItems"
          :async="true"
          :hide-single-page="true"
        ></paginate-links>
      </div>
    </div>

    <paginate
      ref="paginator"
      name="filteredItems"
      :list="filteredItems"
      class="paginate-list"
      :per="10"
    ></paginate>
    <div class="row mb-5" v-if="filteredItems.length > 0">
      <div class="col-md-12" v-for="(meta, index) in paginated('filteredItems')" :key="index">
        <div class="bg-dark mt-2 rounded">
          <Meta
            title="Sucursales"
            titleColor="text-gray-500"
            contentColor="text-gray-200"
            iconColor="text-light"
            :meta="meta"
            :index="`collapseParent${index}`"
            :check="true"
          />
        </div>
        <div
          class="bg-gray-300 rounded collapse borderTop"
          :id="`collapseParent${index}`"
          v-for="(category, index2) in meta.categories"
          :key="index2"
        >
          <Meta
            title="Categoría"
            titleColor="text-gray-600"
            contentColor="text-gray-700 font-weight-bold"
            iconColor="text-gray-500"
            :meta="category"
            :index="`collapseData2${index2+200+index}`"
            :check="true"
            :titleLink="true"
          />
          <div
            class="bg-light collapse borderTop"
            :id="`collapseData2${index2+200+index}`"
            v-for="(question, index3) in category.questions"
            :key="index3"
          >
            <Meta
              title="Pregunta"
              titleColor="text-gray-600"
              contentColor="text-gray-700"
              iconColor="text-light"
              :meta="question"
              :index="'collapseData'+index3+300+index"
              :check="false"
            />
          </div>
        </div>
      </div>
    </div>
    <div v-else class="row">
      <div class="col-md text-center text-muted">No se encontro algo que coincida con "{{search}}"</div>
    </div>
    <div class="row">
      <div class="col-md">
        <paginate-links
          class="pagination pagination-sm float-right"
          for="filteredItems"
          :async="true"
          :hide-single-page="true"
        ></paginate-links>
      </div>
    </div>
  </div>
</template>

<script>
import Meta from "@/components/Meta.vue";
export default {
  name: "MetaList",
  components: {
    Meta
  },
  props: {
    items: Array
  },
  data() {
    return {
      paginate: ["filteredItems"],
      search: ""
    };
  },
  methods: {},
  computed: {
    filteredItems() {
      return this.items.filter(item => {
        return item.name.toLowerCase().includes(this.search.toLowerCase());
      });
    }
  },
  updated() {
    $(".pagination li").addClass("page-item");
    $(".pagination li a").addClass("page-link");
  },
  mounted() {
    setTimeout(() => {
      $(".pagination li").addClass("page-item");
      $(".pagination li a").addClass("page-link");
    }, 2000);

    this.$on("modalConfirm", () => {
      this.modalConfirm();
    });
  },
  watch: {
    // this fix paginator when does not match any result dont show up data again.
    filteredItems() {
      if (this.$refs.paginator) {
        if (this.$refs.paginator.currentPage <= 0)
          this.$refs.paginator.currentPage = 0;
      }
    }
  }
};
</script>

<style lang="scss">
.borderTop {
  border-top: 2px solid white;
}

.form-control {
  padding: 20px;
  border-radius: 3px !important;
}

.btnIn {
  position: absolute !important;
  z-index: 4 !important;
  right: 6px;
  top: 2px;
}
</style>
