<template>
  <div class="card">
    <div
      :class="['bg-success position-absolute w-100', {'bg-orange': data.priority == 'Media'}, {'bg-danger': data.priority == 'Alta'}]"
      style="height:4px; border-radius: 2px 2px 0 0;"
    ></div>
    <div class="card-title bg-dark text-light p-2" style="min-height: 80px;">
      <router-link
        :to="{ name: 'details', params: {id: data.id, queryFilter: queryFilter, modelFilters: modelFilters  } }"
        class="font-weight-light text-light"
      >
        <u>{{data.incidence}}</u>
      </router-link>
      <br>
    </div>
    <div class="cardBody p-1">
      <div class="row">
        <div class="col-md">
          <div class="underLine">
            <div class="row">
              <div class="col-md-5 col-5">
                <div class="content">
                  <label for>FECHA</label>
                  <p>{{data.date}}</p>
                </div>
              </div>
              <div class="col-md col">
                <div class="content">
                  <label for>CATEGORÍA</label>
                  <p>{{data.category}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="underLine">
            <div class="content">
              <label for>STATUS</label>
              <p>
                {{data.status}}
                <i
                  v-if="data.expired"
                  class="fas fa-exclamation-circle fa-lg text-orange"
                ></i>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="underLine">
            <div class="row">
              <div class="col-md-5 col-5">
                <div class="content">
                  <p>
                    <img
                      :src="require(`../assets/${data.brand_image}`)"
                      class="mt-2 img-fluid"
                      style="padding-top: 5px;"
                      alt="img"
                    >
                  </p>
                </div>
              </div>
              <div class="col-md col">
                <div class="content">
                  <label for>SUCURSAL</label>
                  <p>{{data.branch_office}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="underLine">
            <div class="content">
              <label for>QUÍEN REPORTA</label>
              <p>{{data.reported_by}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="underLine">
            <div class="content">
              <label for>RESPONSABLE</label>
              <p>{{data.assigned_to}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md col-7">
          <div class="content" style="border-bottom: 0px !important">
            <label for>FECHA DE COMPROMISO</label>
            <p>{{data.commitment_date}}</p>
          </div>
        </div>
        <div class="col-md-5 col-5">
          <div
            :class="['content bg-success text-white status', {'bg-orange': data.priority == 'Media'}, {'bg-danger': data.priority == 'Alta'}]"
            style="border-bottom: 0px !important; height: 100%;"
          >
            <label for class="text-white">PRIORIDAD</label>
            <p>{{data.priority}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Ticket",
  props: {
    data: Object,
    queryFilter: String,
    modelFilters: Object
  }
};
</script>

<style lang="scss">
label {
  margin-bottom: 0rem !important;
}

p {
  margin-bottom: 0rem !important;
}

.dropdown-toggle::after {
  float: right;
  margin-top: 10px;
}

.alert {
  padding: 0.6rem 1.25rem;
  border-radius: 0.1rem;
}

.card {
  border-radius: 3px;
  margin-bottom: 15px;
  .card-title {
    border-radius: 3px 3px 0px 0px;
  }
}

.card .cardBody .row div label {
  font-size: 12px;
  color: #9c9c9c;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  padding-bottom: 7px;
}

.status {
  height: min-content;
  border-radius: 0px 0px 3px 3px;
}

.card-title {
  margin-bottom: 0rem;
}

.underLine {
  border-bottom: 1px solid #e0e0e0;
}
</style>
