<template>
  <div>
    <div class="row" v-if="title1 != ''">
      <div class="col-md-12">
        <div class="alert alert-secondary" role="alert">
          <strong>Scores</strong>
          <span class="float-right text-muted" style="font-size: 14px">
            Resultados por
            <strong>{{title1}}</strong>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" v-for="(score, index) in scores" :key="index">
        <div class="bg-dark mt-2 rounded">
          <Score
            :title="title1"
            titleColor="text-gray-500"
            contentColor="text-light"
            iconColor="text-light"
            :score="score"
            :index="`collapseParent${index}`"
            :danger="danger"
          />
        </div>
        <div
          class="bg-gray-300 rounded collapse borderTop"
          :id="`collapseParent${index}`"
          v-for="(data2, index2) in getData2(score)"
          :key="index2"
        >
          <Score
            :title="title2"
            titleColor="text-gray-600"
            contentColor="text-gray-700"
            iconColor="text-gray-600"
            :score="data2"
            :index="'collapseData2'+index2+200+index"
            :danger="danger"
          />
          <div
            class="bg-light collapse borderTop"
            :id="`collapseData2${index2+200+index}`"
            v-for="(data3, index3) in getData3(data2)"
            :key="index3"
          >
            <Score
              :title="title3"
              titleColor="text-gray-500"
              contentColor="text-gray-600"
              iconColor="text-light"
              :score="data3"
              :index="'collapseData3'+index3+300+index"
              :danger="danger"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Score from "@/components/Scores/Score.vue";
export default {
  components: {
    Score
  },
  name: "ScoreList",
  props: {
    scores: Object,
    groupBy: Number,
    danger: Boolean
  },
  data() {
    return {
      title1: "",
      title2: "",
      title3: ""
    };
  },
  updated() {
    if (this.groupBy == 1) {
      this.title1 = "Marca";
      this.title2 = "Centro Comercial";
      this.title3 = "Categoria";
    } else if (this.groupBy == 2) {
      this.title1 = "Centro Comercial";
      this.title2 = "Categoria";
      this.title3 = "Incidencia";
    } else if (this.groupBy == 3) {
      this.title1 = "Incidencia";
      this.title2 = "Marca";
      this.title3 = "Centro Comercial";
    }
  },
  created() {
    if (this.groupBy == 1) {
      this.title1 = "Marca";
      this.title2 = "Centro Comercial";
      this.title3 = "Categoria";
    } else if (this.groupBy == 2) {
      this.title1 = "Centro Comercial";
      this.title2 = "Categoria";
      this.title3 = "Incidencia";
    } else if (this.groupBy == 3) {
      this.title1 = "Incidencia";
      this.title2 = "Marca";
      this.title3 = "Centro Comercial";
    }
  },
  methods: {
    getData2(data) {
      if (this.groupBy == 1) return data.branchs;
      else if (this.groupBy == 2) return data.categories;
      else if (this.groupBy == 3) return data.brands;
    },
    getData3(data) {
      if (this.groupBy == 1) return data.categories;
      else if (this.groupBy == 2) return data.questions;
      else if (this.groupBy == 3) return data.branchs;
    }
  }
};
</script>

<style scoped>
.borderTop {
  border-top: 2px solid white;
}

@media (min-width: 768px) {
  .border-bottom {
    border: 0px !important;
  }
}
</style>
