<template>
  <div>
    <div class="row" v-if="danger == true && score.total <= 80 ">
      <div class="col-md-7 col-5 col-sm-5 pl-4 pl-4">
        <div class="p-2">
          <label :class="[titleColor]">{{title}}:</label>
          <br>
          <span :class="[`font-weight-bold text-capitalize`, contentColor]">{{score.name}}</span>
        </div>
      </div>
      <div
        :class="[`border-left col-3 col-sm-3 col-md-2 font-weight-bold p-0 text-center`, contentColor]"
      >
        <div class="p-3 d-flex h-100">
          <span class="align-self-center w-100">{{score.nos}}/{{score.respuestas}}</span>
        </div>
      </div>
      <div
        :class="[`border-left text-center col-md col-2 col-sm-2 font-weight-bold text-light p-0`, {'bg-danger': score.total <= 5, 'bg-warning': score.total > 5 && score.total <= 10, 'bg-bulma': score.total > 10 } ]"
      >
        <div class="p-3 d-flex h-100">
          <span class="align-self-center w-100">{{score.total}}%</span>
        </div>
      </div>
      <div :class="[`text-center col-md col-2 font-weight-bold pl-0`, iconColor]">
        <div class="p-1 pt-2 pb-2 d-flex h-100">
          <i
            class="fas fa-caret-down fa-2x align-self-center w-100 pointer"
            data-toggle="collapse"
            :href="`#${index}`"
            role="button"
            aria-expanded="false"
            :aria-controls="`${index}`"
          ></i>
        </div>
      </div>
    </div>
    <div class="row" v-else-if="danger == false">
      <div class="col-md-7 col-5 col-sm-5 pl-4">
        <div class="p-2">
          <label :class="[titleColor]">{{title}}:</label>
          <br>
          <span :class="[`font-weight-bold text-capitalize`, contentColor]">{{score.name}}</span>
        </div>
      </div>
      <div
        :class="[`border-left col-3 col-sm-3 col-md-2  font-weight-bold p-0 text-center`, contentColor]"
      >
        <div class="p-3 d-flex h-100">
          <span class="align-self-center w-100">{{score.nos}}/{{score.respuestas}}</span>
        </div>
      </div>
      <div
        :class="[`border-left text-center col-md col-2 col-sm-2 font-weight-bold text-light p-0 bg-danger`, {'bg-danger': score.total <= 5, 'bg-gold': score.total > 5 && score.total <= 10, 'bg-bulma': score.total > 10 } ]"
      >
        <div class="p-3 d-flex h-100">
          <span class="align-self-center w-100">{{score.total}}%</span>
        </div>
      </div>
      <div :class="[`text-center col-md col-2 font-weight-bold pl-0`, iconColor]">
        <div class="p-1 pt-2 pb-2 d-flex h-100">
          <i
            class="fas fa-caret-down fa-2x align-self-center w-100 pointer"
            data-toggle="collapse"
            :href="`#${index}`"
            role="button"
            aria-expanded="false"
            :aria-controls="`${index}`"
          ></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Score",
  props: {
    title: String,
    score: Object,
    index: String,
    titleColor: String,
    contentColor: String,
    iconColor: String,
    danger: Boolean
  },
  data() {
    return {};
  },
  created() {
    this.score.total = parseInt(this.score.total);
  }
};
</script>

<style scoped>
.pointer {
  cursor: pointer;
}
.border-left {
  border-left: 1px solid white !important;
}
</style>
