<template>
  <div :class="{'bg-img': $route.name == 'login'}">
    <Navbar v-show="$route.name != 'login'"/>
    <div class="container d-flex h-100">
      <br>
      <router-view class="w-100 mb-5" style="margin-top: 70px"/>
      <br>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/layout/Navbar.vue";

export default {
  name: "App",
  components: {
    Navbar
  }
};
</script>

<style lang="scss">
@import "./styles/custom.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/variables";

html,
body,
#app {
  font-family: "Poppins", sans-serif;
  background-color: #ececec;
  width: 100%;
  height: 100%;
}

.bg-img {
  height: 100%;
  background: linear-gradient(rgba(182, 182, 182, 0.9), rgb(10, 10, 10)),
    url("./assets/bgb.jpeg");
  background-position: center;
  background-repeat: repeat;
}

.bg-dark-grey {
  background-color: #c1c1c1;
  border-color: #c1c1c1;
  color: #636363;
  &:hover {
    background-color: #a3a3a3;
    color: #e0e0e0;
  }
}
.form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}
</style>
